In [35]:
import os.path
import pandas as pd

In [36]:
awards = pd.read_csv('academy_awards.csv',  encoding='latin-1')

In [37]:
awards.head()

,Year,Category,Nominee,Additional Info,Won?,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,2010 (83rd),Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},NO,NaN,NaN,NaN,NaN,NaN,NaN
1,2010 (83rd),Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},NO,NaN,NaN,NaN,NaN,NaN,NaN
2,2010 (83rd),Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},NO,NaN,NaN,NaN,NaN,NaN,NaN
3,2010 (83rd),Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},YES,NaN,NaN,NaN,NaN,NaN,NaN
4,2010 (83rd),Actor -- Leading Role,James Franco,127 Hours {'Aron Ralston'},NO,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
awards.drop(['Unnamed: 5', 'Unnamed: 6','Unnamed: 7','Unnamed: 8','Unnamed: 9','Unnamed: 10',], axis=1, inplace=True)

In [39]:
awards.rename(columns={'Won?': 'Winner','Additional Info': 'Movie'}, inplace=True)

In [40]:
awards.head()

,Year,Category,Nominee,Movie,Winner
0,2010 (83rd),Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},NO
1,2010 (83rd),Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},NO
2,2010 (83rd),Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},NO
3,2010 (83rd),Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},YES
4,2010 (83rd),Actor -- Leading Role,James Franco,127 Hours {'Aron Ralston'},NO

In [41]:
oscar_winners =  awards[awards.Winner == 'YES']
oscar_nominees =  awards[awards.Winner == 'NO']

In [42]:
oscar_winners.head()

,Year,Category,Nominee,Movie,Winner
3,2010 (83rd),Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},YES
5,2010 (83rd),Actor -- Supporting Role,Christian Bale,The Fighter {'Dicky Eklund'},YES
13,2010 (83rd),Actress -- Leading Role,Natalie Portman,Black Swan {'Nina Sayers/The Swan Queen'},YES
17,2010 (83rd),Actress -- Supporting Role,Melissa Leo,The Fighter {'Alice Ward'},YES
22,2010 (83rd),Animated Feature Film,Toy Story 3,Lee Unkrich,YES

In [43]:
Directing =  oscar_winners[oscar_winners.Category == 'Directing']
leadActor =  oscar_winners[oscar_winners.Category == 'Actor -- Leading Role']
leadActress =  oscar_winners[oscar_winners.Category == 'Actress -- Leading Role']
supportActor =  oscar_winners[oscar_winners.Category == 'Actor -- Supporting Role']
supportActress =  oscar_winners[oscar_winners.Category == 'Actress -- Supporting Role']

DirectingNom =  oscar_nominees[oscar_nominees.Category == 'Directing']
leadActorNom =  nominations[oscar_nominees.Category == 'Actor -- Leading Role']
leadActressNom =  oscar_nominees[oscar_nominees.Category == 'Actress -- Leading Role']
supportActorNom =  oscar_nominees[oscar_nominees.Category == 'Actor -- Supporting Role']
supportActressNom =  oscar_nominees[oscar_nominees.Category == 'Actress -- Supporting Role']

In [44]:
oscar_win = pd.concat([Directing,leadActor,leadActress,supportActor,supportActress],axis=0,ignore_index=True)

oscar_nom = pd.concat([DirectingNom,leadActorNom,leadActressNom,supportActorNom,supportActressNom],axis=0,ignore_index=True)

In [45]:
oscar_nom.shape

(1575, 5)

In [46]:
oscar_win.shape

(404, 5)

In [47]:
oscar_win.groupby('Category').head(2)

,Year,Category,Nominee,Movie,Winner
0,2010 (83rd),Directing,The King's Speech,Tom Hooper,YES
1,2009 (82nd),Directing,The Hurt Locker,Kathryn Bigelow,YES
85,2010 (83rd),Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},YES
86,2009 (82nd),Actor -- Leading Role,Jeff Bridges,Crazy Heart {'Bad Blake'},YES
170,2010 (83rd),Actress -- Leading Role,Natalie Portman,Black Swan {'Nina Sayers/The Swan Queen'},YES
171,2009 (82nd),Actress -- Leading Role,Sandra Bullock,The Blind Side {'Leigh Anne Tuohy'},YES
254,2010 (83rd),Actor -- Supporting Role,Christian Bale,The Fighter {'Dicky Eklund'},YES
255,2009 (82nd),Actor -- Supporting Role,Christoph Waltz,Inglourious Basterds {'Col. Hans Landa'},YES
329,2010 (83rd),Actress -- Supporting Role,Melissa Leo,The Fighter {'Alice Ward'},YES
330,2009 (82nd),Actress -- Supporting Role,Mo'Nique,Precious: Based on the Novel 'Push' by Sapphir...,YES

In [48]:
Director_idx = (oscar_win['Category'] == 'Directing')
oscar_win.loc[Director_idx,['Nominee','Movie']] = oscar_win.loc[Director_idx,['Movie','Nominee']].values

DirectorNom_idx = (oscar_nom['Category'] == 'Directing')
oscar_nom.loc[DirectorNom_idx,['Nominee','Movie']] = oscar_nom.loc[DirectorNom_idx,['Movie','Nominee']].values

In [49]:
oscar_nom.groupby('Category').head()

,Year,Category,Nominee,Movie,Winner
0,2010 (83rd),Directing,Darren Aronofsky,Black Swan,NO
1,2010 (83rd),Directing,David O. Russell,The Fighter,NO
2,2010 (83rd),Directing,David Fincher,The Social Network,NO
3,2010 (83rd),Directing,Joel Coen and Ethan Coen,True Grit,NO
4,2009 (82nd),Directing,James Cameron,Avatar,NO
325,2010 (83rd),Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},NO
326,2010 (83rd),Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},NO
327,2010 (83rd),Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},NO
328,2010 (83rd),Actor -- Leading Role,James Franco,127 Hours {'Aron Ralston'},NO
329,2009 (82nd),Actor -- Leading Role,George Clooney,Up in the Air {'Ryan Bingham'},NO
648,2010 (83rd),Actress -- Leading Role,Annette Bening,The Kids Are All Right {'Nic'},NO
649,2010 (83rd),Actress -- Leading Role,Nicole Kidman,Rabbit Hole {'Becca'},NO
650,2010 (83rd),Actress -- Leading Role,Jennifer Lawrence,Winter's Bone {'Ree'},NO
651,2010 (83rd),Actress -- Leading Role,Michelle Williams,Blue Valentine {'Cindy'},NO
652,2009 (82nd),Actress -- Leading Role,Helen Mirren,The Last Station {'Sofya'},NO
975,2010 (83rd),Actor -- Supporting Role,John Hawkes,Winter's Bone {'Teardrop'},NO
976,2010 (83rd),Actor -- Supporting Role,Jeremy Renner,The Town {'James Coughlin'},NO
977,2010 (83rd),Actor -- Supporting Role,Mark Ruffalo,The Kids Are All Right {'Paul'},NO
978,2010 (83rd),Actor -- Supporting Role,Geoffrey Rush,The King's Speech {'Lionel Logue'},NO
979,2009 (82nd),Actor -- Supporting Role,Matt Damon,Invictus {'Francois Pienaar'},NO
1275,2010 (83rd),Actress -- Supporting Role,Amy Adams,The Fighter {'Charlene Fleming'},NO
1276,2010 (83rd),Actress -- Supporting Role,Helena Bonham Carter,The King's Speech {'Queen Elizabeth'},NO
1277,2010 (83rd),Actress -- Supporting Role,Hailee Steinfeld,True Grit {'Mattie Ross'},NO
1278,2010 (83rd),Actress -- Supporting Role,Jacki Weaver,Animal Kingdom {'Janine 'Smurf' Cody'},NO
1279,2009 (82nd),Actress -- Supporting Role,Penélope Cruz,Nine {'Carla'},NO

In [50]:
oscar_win = oscar_win.replace(dict(Movie={'\ {.*\}': ''}), regex=True)
oscar_win = oscar_win.replace(dict(Year={'\(.*\)': ''}), regex=True)

oscar_nom = oscar_nom.replace(dict(Movie={'\ {.*\}': ''}), regex=True)
oscar_nom = oscar_nom.replace(dict(Year={'\(.*\)': ''}), regex=True)

In [51]:
oscar_nom.isnull().any()

Year        False
Category    False
Nominee     False
Movie       False
Winner      False
dtype: bool

In [52]:
oscar_win.isnull().any()

Year        False
Category    False
Nominee      True
Movie        True
Winner      False
dtype: bool

In [53]:
nans = lambda oscar_win: oscar_win[oscar_win.isnull().any(axis=1)]
nans2 = lambda oscar_win: oscar_nom[oscar_nom.isnull().any(axis=1)]

In [54]:
nans(oscar_win)

,Year,Category,Nominee,Movie,Winner
84,1927/28,Directing,NaN,"To Charles Chaplin, for acting, writing, direc...",YES
169,1927/28,Actor -- Leading Role,"To Charles Chaplin, for acting, writing, direc...",NaN,YES

In [55]:
nans2(oscar_nom)

Empty DataFrame
Columns: [Year, Category, Nominee, Movie, Winner]
Index: []

In [56]:
oscar_win.shape

(404, 5)

In [57]:
oscar_win = oscar_win.drop([oscar_win.index[84],oscar_win.index[169]])

In [58]:
oscar_win.shape

(402, 5)

In [59]:
oscar_win.to_pickle("Oscars.pkl")
oscar_nom.to_pickle("OscarNoms.pkl")