In [216]:
import os.path
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [217]:
# Ensure the file exists
if  not os.path.exists("movies.csv"):
    print("Missing dataset file")

In [218]:
movies = pd.read_csv('movies.csv',  encoding='latin-1')

In [219]:
movies.head(5)

,budget,company,country,director,genre,gross,name,rating,released,runtime,score,star,votes,writer,year
0,8000000.0,Columbia Pictures Corporation,USA,Rob Reiner,Adventure,52287414.0,Stand by Me,R,1986-08-22,89,8.1,Wil Wheaton,299174,Stephen King,1986
1,6000000.0,Paramount Pictures,USA,John Hughes,Comedy,70136369.0,Ferris Bueller's Day Off,PG-13,1986-06-11,103,7.8,Matthew Broderick,264740,John Hughes,1986
2,15000000.0,Paramount Pictures,USA,Tony Scott,Action,179800601.0,Top Gun,PG,1986-05-16,110,6.9,Tom Cruise,236909,Jim Cash,1986
3,18500000.0,Twentieth Century Fox Film Corporation,USA,James Cameron,Action,85160248.0,Aliens,R,1986-07-18,137,8.4,Sigourney Weaver,540152,James Cameron,1986
4,9000000.0,Walt Disney Pictures,USA,Randal Kleiser,Adventure,18564613.0,Flight of the Navigator,PG,1986-08-01,90,6.9,Joey Cramer,36636,Mark H. Baker,1986

In [220]:
movies.shape

(6820, 15)

In [221]:
movies.isnull().sum()

budget      0
company     0
country     0
director    0
genre       0
gross       0
name        0
rating      0
released    0
runtime     0
score       0
star        0
votes       0
writer      0
year        0
dtype: int64

In [222]:
movies.groupby('released').head()

,budget,company,country,director,genre,gross,name,rating,released,runtime,score,star,votes,writer,year
0,8000000.0,Columbia Pictures Corporation,USA,Rob Reiner,Adventure,52287414.0,Stand by Me,R,1986-08-22,89,8.1,Wil Wheaton,299174,Stephen King,1986
1,6000000.0,Paramount Pictures,USA,John Hughes,Comedy,70136369.0,Ferris Bueller's Day Off,PG-13,1986-06-11,103,7.8,Matthew Broderick,264740,John Hughes,1986
2,15000000.0,Paramount Pictures,USA,Tony Scott,Action,179800601.0,Top Gun,PG,1986-05-16,110,6.9,Tom Cruise,236909,Jim Cash,1986
3,18500000.0,Twentieth Century Fox Film Corporation,USA,James Cameron,Action,85160248.0,Aliens,R,1986-07-18,137,8.4,Sigourney Weaver,540152,James Cameron,1986
4,9000000.0,Walt Disney Pictures,USA,Randal Kleiser,Adventure,18564613.0,Flight of the Navigator,PG,1986-08-01,90,6.9,Joey Cramer,36636,Mark H. Baker,1986
5,6000000.0,Hemdale,UK,Oliver Stone,Drama,138530565.0,Platoon,R,1987-02-06,120,8.1,Charlie Sheen,317585,Oliver Stone,1986
6,25000000.0,Henson Associates (HA),UK,Jim Henson,Adventure,12729917.0,Labyrinth,PG,1986-06-27,101,7.4,David Bowie,102879,Dennis Lee,1986
7,6000000.0,De Laurentiis Entertainment Group (DEG),USA,David Lynch,Drama,8551228.0,Blue Velvet,R,1986-10-23,120,7.8,Isabella Rossellini,146768,David Lynch,1986
8,9000000.0,Paramount Pictures,USA,Howard Deutch,Comedy,40471663.0,Pretty in Pink,PG-13,1986-02-28,96,6.8,Molly Ringwald,60565,John Hughes,1986
9,15000000.0,SLM Production Group,USA,David Cronenberg,Drama,40456565.0,The Fly,R,1986-08-15,96,7.5,Jeff Goldblum,129698,George Langelaan,1986
10,8800000.0,Rimfire Films,Australia,Peter Faiman,Adventure,174635000.0,Crocodile Dundee,PG-13,1986-09-26,97,6.5,Paul Hogan,79465,Ken Shadie,1986
11,16000000.0,Thorn EMI Screen Entertainment,UK,Russell Mulcahy,Action,5900000.0,Highlander,R,1986-03-07,116,7.2,Christopher Lambert,104860,Gregory Widen,1986
12,6000000.0,Twentieth Century Fox Film Corporation,USA,David Seltzer,Comedy,8200000.0,Lucas,PG-13,1986-03-28,100,6.8,Corey Haim,12228,David Seltzer,1986
13,25000000.0,Twentieth Century Fox Film Corporation,USA,John Carpenter,Action,11100000.0,Big Trouble in Little China,PG-13,1986-07-02,99,7.3,Kurt Russell,101678,Gary Goldman,1986
14,15000000.0,De Laurentiis Entertainment Group (DEG),USA,Michael Mann,Crime,8620929.0,Manhunter,R,1986-08-15,120,7.2,William Petersen,54000,Thomas Harris,1986
15,17000000.0,Producers Sales Organization (PSO),USA,Adrian Lyne,Drama,6734844.0,9½ Weeks,R,1986-02-21,117,5.9,Mickey Rourke,31798,Elizabeth McNeill,1986
16,10000000.0,De Laurentiis Entertainment Group (DEG),USA,Stephen King,Action,7433663.0,Maximum Overdrive,R,1986-07-25,98,5.4,Emilio Estevez,24881,Stephen King,1986
17,25000000.0,"Geffen Company, The",USA,Frank Oz,Comedy,38747385.0,Little Shop of Horrors,PG-13,1986-12-19,94,6.9,Rick Moranis,53327,Howard Ashman,1986
18,2700000.0,New Century Entertainment Corporation,USA,Mike Marvin,Action,3500000.0,The Wraith,PG-13,1986-11-21,93,5.9,Charlie Sheen,11635,Mike Marvin,1986
19,35000000.0,Universal Pictures,USA,Willard Huyck,Action,16295774.0,Howard the Duck,PG,1986-08-01,110,4.6,Lea Thompson,36020,Steve Gerber,1986
20,2000000.0,New Line Cinema,USA,Stephen Herek,Action,13167232.0,Critters,PG-13,1986-04-11,82,6.0,Dee Wallace,25517,Domonic Muir,1986
21,11000000.0,Orion Pictures,USA,Alan Metter,Comedy,91258000.0,Back to School,PG-13,1986-06-13,96,6.6,Rodney Dangerfield,23120,Rodney Dangerfield,1986
22,4700000.0,Cannon Films,USA,Tobe Hooper,Comedy,8025872.0,The Texas Chainsaw Massacre 2,UNRATED,1986-08-22,89,5.6,Dennis Hopper,21253,L.M. Kit Carson,1986
23,15000000.0,Jay Weston Productions,USA,Clint Eastwood,Action,42724017.0,Heartbreak Ridge,R,1986-12-05,130,6.8,Clint Eastwood,32954,James Carabatsos,1986
24,25000000.0,Paramount Pictures,USA,Leonard Nimoy,Adventure,109713132.0,Star Trek IV: The Voyage Home,PG,1986-11-26,119,7.3,William Shatner,66366,Gene Roddenberry,1986
25,0.0,TriStar Pictures,USA,John Badham,Comedy,40697761.0,Short Circuit,PG,1986-05-09,98,6.6,Ally Sheedy,47068,S.S. Wilson,1986
26,0.0,Neue Constantin Film,Italy,Jean-Jacques Annaud,Crime,7153487.0,The Name of the Rose,R,1986-09-24,130,7.8,Sean Connery,86991,Umberto Eco,1986
27,0.0,TriStar Pictures,USA,Sidney J. Furie,Action,24159872.0,Iron Eagle,PG-13,1986-01-17,117,5.3,Louis Gossett Jr.,11304,Kevin Alyn Elders,1986
28,25000000.0,Paramount Pictures,USA,Michael Ritchie,Action,79817937.0,The Golden Child,PG-13,1986-12-12,94,5.9,Eddie Murphy,42997,Dennis Feldman,1986
29,1900000.0,Hemdale,USA,Tim Hunter,Crime,4600000.0,River's Edge,R,1987-05-08,99,7.1,Crispin Glover,12862,Neal Jimenez,1986
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6782,30000000.0,EuropaCorp,France,Barry Sonnenfeld,Comedy,19637449.0,Mi papá es un gato,PG,2016-08-05,87,5.3,Kevin Spacey,14360,Gwyn Lurie,2016
6783,0.0,ARTE France,Iran,Asghar Farhadi,Drama,3402067.0,El cliente,PG-13,2017-03-03,124,7.9,Taraneh Alidoosti,28449,Asghar Farhadi,2016
6784,0.0,Magic Lantern,Spain,Carles Torrens,Horror,70.0,Pet,R,2016-12-02,94,5.7,Dominic Monaghan,10504,Jeremy Slater,2016
6785,21500000.0,42,UK,Eran Creevy,Action,2280004.0,Collide,PG-13,2017-02-24,99,5.7,Nicholas Hoult,9617,F. Scott Frazier,2016
6786,15000000.0,New Line Cinema,USA,Peter Atencio,Action,20566327.0,Keanu,R,2016-04-29,100,6.3,Keegan-Michael Key,34580,Jordan Peele,2016
6787,13000000.0,Columbia Pictures,USA,Patricia Riggen,Biography,61693523.0,Miracles from Heaven,PG,2016-03-16,109,7.0,Jennifer Garner,13373,Christy Beam,2016
6788,0.0,Bank Street Films,USA,Elizabeth Wood,Drama,198493.0,White Girl,UNRATED,2016-12-01,88,5.8,Morgan Saylor,5245,Elizabeth Wood,2016
6789,29000000.0,Gary Sanchez Productions,USA,Ben Falcone,Comedy,63034755.0,The Boss,R,2016-04-08,99,5.4,Melissa McCarthy,31703,Melissa McCarthy,2016
6790,26000000.0,Broad Green Pictures,USA,Mark Waters,Comedy,17664973.0,Bad Santa 2,R,2016-11-23,92,5.5,Billy Bob Thornton,13114,Johnny Rosenthal,2016
6791,0.0,AZ Films,Chile,Pablo Larraín,Biography,938875.0,Neruda,R,2017-03-10,107,7.0,Gael García Bernal,5680,Guillermo Calderón,2016
6792,130000.0,Changing Film Productions,USA,Bank Tangjaitrong,Adventure,13557.0,Till We Meet Again,NOT RATED,2016-11-25,105,6.9,John Matton,1248,John Matton,2016
6793,8000000.0,Cinelou Films,USA,Bruce Beresford,Comedy,685143.0,Mr. Church,PG-13,2016-09-16,104,7.7,Eddie Murphy,18249,Susan McMartin,2016
6794,900000.0,Hidden Empire Film Group,USA,Deon Taylor,Comedy,9093856.0,Meet the Blacks,R,2016-04-01,94,6.0,Mike Epps,18980,Nicole DeMasi,2016
6796,15000000.0,Demarest Films,USA,D.J. Caruso,Drama,2411580.0,The Disappointments Room,R,2016-09-09,85,3.9,Kate Beckinsale,6287,Wentworth Miller,2016
6799,18000000.0,Gold Circle Films,USA,Kirk Jones,Comedy,59573085.0,My Big Fat Greek Wedding 2,PG-13,2016-03-25,94,6.0,Nia Vardalos,22142,Nia Vardalos,2016
6800,17000000.0,Perfect World Pictures (Beijing),USA,David E. Talbert,Comedy,41715860.0,Almost Christmas,PG-13,2016-11-11,111,6.0,Kimberly Elise,3366,David E. Talbert,2016
6802,0.0,Mandarin Films,France,François Ozon,Drama,880474.0,Frantz,PG-13,2017-03-15,113,7.5,Pierre Niney,6634,François Ozon,2016
6803,5000000.0,IM Global,USA,Brad Peyton,Horror,4790573.0,Incarnate,PG-13,2016-12-02,91,5.2,Aaron Eckhart,7778,Ronnie Christensen,2016
6804,0.0,Digic Pictures,Japan,Takeshi Nozue,Animation,233569.0,Kingsglaive: Final Fantasy XV,PG-13,2016-07-09,110,6.9,Aaron Paul,15705,Takashi Hasegawa,2016
6806,0.0,Bing Feng Bao Entertainment,USA,James Schamus,Drama,3399841.0,Indignation,R,2016-08-11,110,6.8,Logan Lerman,8479,Philip Roth,2016
6807,4000000.0,Blumhouse Productions,USA,Greg McLean,Horror,10732841.0,The Darkness,PG-13,2016-05-13,92,4.4,Kevin Bacon,9450,Greg McLean,2016
6811,8500000.0,CBS Films,USA,Steve Carr,Animation,19985196.0,Middle School: The Worst Years of My Life,PG,2016-10-07,92,6.1,Griffin Gluck,4556,Chris Bowman,2016
6812,0.0,Killer Films,USA,Andrew Neel,Drama,23020.0,Goat,R,2016-09-23,96,5.7,Ben Schnetzer,4439,David Gordon Green,2016
6813,0.0,Anna Biller Productions,USA,Anna Biller,Comedy,228894.0,The Love Witch,UNRATED,2017-03-10,120,6.2,Samantha Robinson,6054,Anna Biller,2016
6814,20000000.0,LD Entertainment,USA,Kevin Reynolds,Action,36874745.0,Risen,PG-13,2016-02-19,107,6.3,Joseph Fiennes,19084,Kevin Reynolds,2016
6815,0.0,Fox Searchlight Pictures,UK,Mandie Fletcher,Comedy,4750497.0,Absolutely Fabulous: The Movie,R,2016-07-22,91,5.4,Jennifer Saunders,9161,Jennifer Saunders,2016
6816,0.0,Siempre Viva Productions,USA,Paul Duddridge,Drama,28368.0,Mothers and Daughters,PG-13,2016-05-06,90,4.9,Selma Blair,1959,Paige Cameron,2016
6817,3500000.0,Warner Bros. Animation,USA,Sam Liu,Animation,3775000.0,Batman: The Killing Joke,R,2016-07-25,76,6.5,Kevin Conroy,36333,Brian Azzarello,2016
6818,0.0,Borderline Presents,USA,Nicolas Pesce,Drama,25981.0,The Eyes of My Mother,R,2016-12-02,76,6.2,Kika Magalhães,6947,Nicolas Pesce,2016
6819,0.0,Les Productions du Trésor,France,Nicole Garcia,Drama,37757.0,From the Land of the Moon,R,2017-07-28,120,6.7,Marion Cotillard,2411,Milena Agus,2016

In [223]:
(movies.score == 0).value_counts()

False    6820
Name: score, dtype: int64

In [224]:
movies['year'].value_counts()

1989    221
2015    220
2013    220
1992    220
1996    220
2000    220
2004    220
2008    220
2012    220
2016    220
1993    220
1997    220
2001    220
2005    220
2009    220
1986    220
2011    220
1990    220
1994    220
1998    220
2002    220
2006    220
2010    220
2014    220
1991    220
1995    220
1999    220
2003    220
2007    220
1988    220
1987    219
Name: year, dtype: int64

In [348]:
movies['Har_mean'] = (((0.01)*(movies['gross']))+((0.99)*(movies['score'])))/1000

In [226]:
movies['Standard_mean'] = (((0.5)*(movies['gross']))+((0.5)*(movies['score'])))

In [399]:
movies['weighted_mean'] = (((0.01)*(movies['gross']))*((0.99)*(movies['score'])))/1000

In [400]:
movies.head()

,budget,company,country,director,genre,gross,name,rating,released,runtime,score,star,votes,writer,year,Har_mean,Standard_mean,weighted_mean
0,8000000.0,Columbia Pictures Corporation,USA,Rob Reiner,Adventure,52287414.0,Stand by Me,R,1986-08-22,89,8.1,Wil Wheaton,299174,Stephen King,1986,4192.927729,26143711.05,4192.927729
1,6000000.0,Paramount Pictures,USA,John Hughes,Comedy,70136369.0,Ferris Bueller's Day Off,PG-13,1986-06-11,103,7.8,Matthew Broderick,264740,John Hughes,1986,5415.930414,35068188.40,5415.930414
2,15000000.0,Paramount Pictures,USA,Tony Scott,Action,179800601.0,Top Gun,PG,1986-05-16,110,6.9,Tom Cruise,236909,Jim Cash,1986,12282.179054,89900303.95,12282.179054
3,18500000.0,Twentieth Century Fox Film Corporation,USA,James Cameron,Action,85160248.0,Aliens,R,1986-07-18,137,8.4,Sigourney Weaver,540152,James Cameron,1986,7081.926224,42580128.20,7081.926224
4,9000000.0,Walt Disney Pictures,USA,Randal Kleiser,Adventure,18564613.0,Flight of the Navigator,PG,1986-08-01,90,6.9,Joey Cramer,36636,Mark H. Baker,1986,1268.148714,9282309.95,1268.148714

In [401]:
movies.shape

(6820, 18)

In [402]:
Oscar = pd.read_pickle("Oscars.pkl")

In [403]:
Oscar.shape

(402, 5)

In [404]:
Oscar.head()

    Year   Category          Nominee                   Movie Winner
0  2010   Directing       Tom Hooper       The King's Speech    YES
1  2009   Directing  Kathryn Bigelow         The Hurt Locker    YES
2  2008   Directing      Danny Boyle     Slumdog Millionaire    YES
3  2007   Directing        Joel Coen  No Country for Old Men    YES
4  2006   Directing  Martin Scorsese            The Departed    YES

In [405]:
Oscar['Movie'] = Oscar['Movie'].map(lambda x: x.strip())

In [406]:
Oscar.head()

    Year   Category          Nominee                   Movie Winner
0  2010   Directing       Tom Hooper       The King's Speech    YES
1  2009   Directing  Kathryn Bigelow         The Hurt Locker    YES
2  2008   Directing      Danny Boyle     Slumdog Millionaire    YES
3  2007   Directing        Joel Coen  No Country for Old Men    YES
4  2006   Directing  Martin Scorsese            The Departed    YES

In [411]:
movie_wins = pd.DataFrame({'Oscar_wins':Oscar.groupby('Movie').size()})

In [412]:
movie_wins.shape

(317, 1)

In [413]:
movie_wins['movie_name'] = movie_wins.index

In [414]:
movie_wins.groupby('Oscar_wins').size()

Oscar_wins
1    249
2     51
3     17
dtype: int64

In [418]:
movies.head()

,budget,company,country,director,genre,gross,name,rating,released,runtime,score,star,votes,writer,year,Har_mean,Standard_mean,weighted_mean
0,8000000.0,Columbia Pictures Corporation,USA,Rob Reiner,Adventure,52287414.0,Stand by Me,R,1986-08-22,89,8.1,Wil Wheaton,299174,Stephen King,1986,4192.927729,26143711.05,4192.927729
1,6000000.0,Paramount Pictures,USA,John Hughes,Comedy,70136369.0,Ferris Bueller's Day Off,PG-13,1986-06-11,103,7.8,Matthew Broderick,264740,John Hughes,1986,5415.930414,35068188.40,5415.930414
2,15000000.0,Paramount Pictures,USA,Tony Scott,Action,179800601.0,Top Gun,PG,1986-05-16,110,6.9,Tom Cruise,236909,Jim Cash,1986,12282.179054,89900303.95,12282.179054
3,18500000.0,Twentieth Century Fox Film Corporation,USA,James Cameron,Action,85160248.0,Aliens,R,1986-07-18,137,8.4,Sigourney Weaver,540152,James Cameron,1986,7081.926224,42580128.20,7081.926224
4,9000000.0,Walt Disney Pictures,USA,Randal Kleiser,Adventure,18564613.0,Flight of the Navigator,PG,1986-08-01,90,6.9,Joey Cramer,36636,Mark H. Baker,1986,1268.148714,9282309.95,1268.148714

In [421]:
test = movies.merge(movie_wins, left_on='name', right_on='movie_name')

In [422]:
 test.shape

(107, 20)

In [423]:
test.groupby('Oscar_wins').head(5)

,budget,company,country,director,genre,gross,name,rating,released,runtime,score,star,votes,writer,year,Har_mean,Standard_mean,weighted_mean,Oscar_wins,movie_name
0,6000000.0,Hemdale,UK,Oliver Stone,Drama,138530565.0,Platoon,R,1987-02-06,120,8.1,Charlie Sheen,317585,Oliver Stone,1986,11108.766007,69265286.55,11108.766007,1,Platoon
1,13800000.0,Touchstone Pictures,USA,Martin Scorsese,Drama,52293982.0,The Color of Money,R,1986-10-17,119,7.0,Paul Newman,62495,Walter Tevis,1986,3623.972953,26146994.50,3623.972953,1,The Color of Money
2,6400000.0,Orion Pictures,USA,Woody Allen,Comedy,40084041.0,Hannah and Her Sisters,PG-13,1986-03-14,107,8.0,Mia Farrow,56988,Woody Allen,1986,3174.656047,20042024.50,3174.656047,2,Hannah and Her Sisters
3,0.0,Paramount Pictures,USA,Randa Haines,Drama,31853080.0,Children of a Lesser God,R,1986-10-31,119,7.2,William Hurt,12538,Mark Medoff,1986,2270.487542,15926543.60,2270.487542,1,Children of a Lesser God
4,25000000.0,Paramount Pictures,USA,Brian De Palma,Crime,76270454.0,The Untouchables,R,1987-06-03,119,7.9,Kevin Costner,234254,Oscar Fraley,1987,5965.112207,38135230.95,5965.112207,1,The Untouchables
5,15000000.0,Twentieth Century Fox Film Corporation,USA,Oliver Stone,Crime,43848100.0,Wall Street,R,1987-12-11,126,7.4,Charlie Sheen,126195,Stanley Weiser,1987,3212.311806,21924053.70,3212.311806,1,Wall Street
6,15000000.0,Metro-Goldwyn-Mayer (MGM),USA,Norman Jewison,Comedy,80640528.0,Moonstruck,PG,1988-01-15,102,7.1,Cher,38600,John Patrick Shanley,1987,5668.222713,40320267.55,5668.222713,2,Moonstruck
8,25000000.0,United Artists,USA,Barry Levinson,Drama,172825435.0,Rain Man,R,1988-12-16,133,8.0,Dustin Hoffman,408473,Barry Morrow,1988,13687.774452,86412721.50,13687.774452,2,Rain Man
13,0.0,Ferndale Films,Ireland,Jim Sheridan,Biography,14743391.0,My Left Foot,R,1990-03-30,103,7.9,Daniel Day-Lewis,54654,Shane Connaughton,1989,1153.080610,7371699.45,1153.080610,2,My Left Foot
22,19000000.0,Strong Heart/Demme Production,USA,Jonathan Demme,Crime,130742922.0,The Silence of the Lambs,R,1991-02-14,118,8.6,Jodie Foster,990212,Thomas Harris,1991,11131.452379,65371465.30,11131.452379,3,The Silence of the Lambs
25,14400000.0,Warner Bros.,USA,Clint Eastwood,Drama,101157447.0,Unforgiven,R,1992-08-07,131,8.2,Clint Eastwood,304536,David Webb Peoples,1992,8211.961547,50578727.60,8211.961547,2,Unforgiven
75,30000000.0,Warner Bros.,USA,Clint Eastwood,Drama,100492203.0,Million Dollar Baby,PG-13,2005-01-28,132,8.1,Hilary Swank,528910,Paul Haggis,2004,8058.469759,50246105.55,8058.469759,3,Million Dollar Baby
106,100000000.0,LightWorkers Media,USA,Timur Bekmambetov,Action,26384681.0,Ben-Hur,PG-13,2016-08-19,123,5.7,Jack Huston,31863,Lew Wallace,2016,1488.887549,13192343.35,1488.887549,3,Ben-Hur

In [424]:
Oscar.dtypes

Year        object
Category    object
Nominee     object
Movie       object
Winner      object
dtype: object

In [425]:
test.groupby('Oscar_wins').count()

,budget,company,country,director,genre,gross,name,rating,released,runtime,score,star,votes,writer,year,Har_mean,Standard_mean,weighted_mean,movie_name
Oscar_wins,,,,,,,,,,,,,,,,,,,
1,86,86,86,86,86,86,86,86,86,86,86,86,86,86,86,86,86,86,86
2,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18
3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3

In [426]:
Movies = movies.append(test)

In [427]:
movie_wins.head()

                     Oscar_wins           movie_name
Movie
7th Heaven                    1           7th Heaven
A Beautiful Mind              2     A Beautiful Mind
A Double Life                 1        A Double Life
A Fish Called Wanda           1  A Fish Called Wanda
A Free Soul                   1          A Free Soul

In [428]:
Movies.head()

,Har_mean,Oscar_wins,Standard_mean,budget,company,country,director,genre,gross,movie_name,name,rating,released,runtime,score,star,votes,weighted_mean,writer,year
0,4192.927729,NaN,26143711.05,8000000.0,Columbia Pictures Corporation,USA,Rob Reiner,Adventure,52287414.0,NaN,Stand by Me,R,1986-08-22,89,8.1,Wil Wheaton,299174,4192.927729,Stephen King,1986
1,5415.930414,NaN,35068188.40,6000000.0,Paramount Pictures,USA,John Hughes,Comedy,70136369.0,NaN,Ferris Bueller's Day Off,PG-13,1986-06-11,103,7.8,Matthew Broderick,264740,5415.930414,John Hughes,1986
2,12282.179054,NaN,89900303.95,15000000.0,Paramount Pictures,USA,Tony Scott,Action,179800601.0,NaN,Top Gun,PG,1986-05-16,110,6.9,Tom Cruise,236909,12282.179054,Jim Cash,1986
3,7081.926224,NaN,42580128.20,18500000.0,Twentieth Century Fox Film Corporation,USA,James Cameron,Action,85160248.0,NaN,Aliens,R,1986-07-18,137,8.4,Sigourney Weaver,540152,7081.926224,James Cameron,1986
4,1268.148714,NaN,9282309.95,9000000.0,Walt Disney Pictures,USA,Randal Kleiser,Adventure,18564613.0,NaN,Flight of the Navigator,PG,1986-08-01,90,6.9,Joey Cramer,36636,1268.148714,Mark H. Baker,1986

In [429]:
Movies.isnull()

,Har_mean,Oscar_wins,Standard_mean,budget,company,country,director,genre,gross,movie_name,name,rating,released,runtime,score,star,votes,weighted_mean,writer,year
0,False,True,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
1,False,True,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
2,False,True,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
3,False,True,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
4,False,True,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
5,False,True,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
6,False,True,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
7,False,True,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
8,False,True,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
9,False,True,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
10,False,True,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
11,False,True,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
12,False,True,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
13,False,True,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
14,False,True,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
15,False,True,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
16,False,True,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
17,False,True,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
18,False,True,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
19,False,True,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
20,False,True,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
21,False,True,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
22,False,True,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
23,False,True,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
24,False,True,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
25,False,True,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
26,False,True,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
27,False,True,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
28,False,True,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
29,False,True,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
78,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
79,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
80,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
81,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
82,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
83,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
84,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
85,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
86,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
87,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
88,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
89,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
90,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
91,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
92,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
93,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
94,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
95,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
96,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
97,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
98,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
99,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
100,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
101,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
102,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
103,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
104,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
105,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
106,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [430]:
Movies.drop_duplicates(subset='name', keep='last', inplace=True)

In [431]:
Movies.shape

(6731, 20)

In [432]:
Movies.groupby('Oscar_wins').size()

Oscar_wins
1.0    82
2.0    18
3.0     3
dtype: int64

In [433]:
OscarNom = pd.read_pickle("OscarNoms.pkl")

In [434]:
OscarNom.head()

    Year   Category           Nominee               Movie Winner
0  2010   Directing  Darren Aronofsky          Black Swan     NO
1  2010   Directing  David O. Russell         The Fighter     NO
2  2010   Directing     David Fincher  The Social Network     NO
3  2010   Directing         Joel Coen           True Grit     NO
4  2009   Directing     James Cameron              Avatar     NO

In [435]:
OscarNom['Movie'] = OscarNom['Movie'].map(lambda x: x.strip())

In [436]:
movie_noms = pd.DataFrame({'Oscar_noms':OscarNom.groupby('Movie').size()})

In [437]:
movie_noms.head()

                        Oscar_noms
Movie
'Round Midnight                  1
...And Justice for All           1
12 Angry Men                     1
12 Monkeys                       1
127 Hours                        1

In [438]:
movie_noms.groupby('Oscar_noms').size()

Oscar_noms
1    650
2    252
3     90
4     25
5      9
6      1
dtype: int64

In [439]:
movie_noms['movie_name'] = movie_noms.index

In [440]:
movie_noms.shape

(1027, 2)

In [441]:
butttt = movies.merge(movie_noms, left_on='name', right_on='movie_name')
#Movies = movies.append(test)

In [442]:
butttt.shape

(353, 20)

In [443]:
Movie_nom = movies.append(butttt)

In [444]:
Movie_nom.head()

,Har_mean,Oscar_noms,Standard_mean,budget,company,country,director,genre,gross,movie_name,name,rating,released,runtime,score,star,votes,weighted_mean,writer,year
0,4192.927729,NaN,26143711.05,8000000.0,Columbia Pictures Corporation,USA,Rob Reiner,Adventure,52287414.0,NaN,Stand by Me,R,1986-08-22,89,8.1,Wil Wheaton,299174,4192.927729,Stephen King,1986
1,5415.930414,NaN,35068188.40,6000000.0,Paramount Pictures,USA,John Hughes,Comedy,70136369.0,NaN,Ferris Bueller's Day Off,PG-13,1986-06-11,103,7.8,Matthew Broderick,264740,5415.930414,John Hughes,1986
2,12282.179054,NaN,89900303.95,15000000.0,Paramount Pictures,USA,Tony Scott,Action,179800601.0,NaN,Top Gun,PG,1986-05-16,110,6.9,Tom Cruise,236909,12282.179054,Jim Cash,1986
3,7081.926224,NaN,42580128.20,18500000.0,Twentieth Century Fox Film Corporation,USA,James Cameron,Action,85160248.0,NaN,Aliens,R,1986-07-18,137,8.4,Sigourney Weaver,540152,7081.926224,James Cameron,1986
4,1268.148714,NaN,9282309.95,9000000.0,Walt Disney Pictures,USA,Randal Kleiser,Adventure,18564613.0,NaN,Flight of the Navigator,PG,1986-08-01,90,6.9,Joey Cramer,36636,1268.148714,Mark H. Baker,1986

In [445]:
Movie_nom.drop_duplicates(subset='name', keep='last', inplace=True)

In [446]:
Movie_nom.shape

(6731, 20)

In [447]:
Movie_nom.to_pickle("MovieNoms.pkl")

In [448]:
Movies.to_pickle("Movies.pkl")

In [323]:
Movie_nom['Oscar_noms']=Movie_nom['Oscar_noms'].fillna('0')

In [328]:
Movie_nom.groupby('Oscar_noms').size()

Oscar_noms
1.0     233
2.0      84
3.0      22
4.0       7
0      6385
dtype: int64

In [347]:
butttt.groupby('Oscar_noms').size()

Oscar_noms
1    236
2     88
3     22
4      7
dtype: int64

In [ ]:
df2.index = df2.index.map(lambda x: difflib.get_close_matches(x, df1.index)[0])

In [397]:
Movie_nom.head()

,Har_mean,Oscar_noms,Standard_mean,budget,company,country,director,genre,gross,movie_name,name,rating,released,runtime,score,star,votes,weighted_mean,writer,year
0,4192.927729,NaN,26143711.05,8000000.0,Columbia Pictures Corporation,USA,Rob Reiner,Adventure,52287414.0,NaN,Stand by Me,R,1986-08-22,89,8.1,Wil Wheaton,299174,52.295506,Stephen King,1986
1,5415.930414,NaN,35068188.40,6000000.0,Paramount Pictures,USA,John Hughes,Comedy,70136369.0,NaN,Ferris Bueller's Day Off,PG-13,1986-06-11,103,7.8,Matthew Broderick,264740,70.144161,John Hughes,1986
2,12282.179054,NaN,89900303.95,15000000.0,Paramount Pictures,USA,Tony Scott,Action,179800601.0,NaN,Top Gun,PG,1986-05-16,110,6.9,Tom Cruise,236909,179.807494,Jim Cash,1986
4,1268.148714,NaN,9282309.95,9000000.0,Walt Disney Pictures,USA,Randal Kleiser,Adventure,18564613.0,NaN,Flight of the Navigator,PG,1986-08-01,90,6.9,Joey Cramer,36636,18.571506,Mark H. Baker,1986
6,932.593719,NaN,6364962.20,25000000.0,Henson Associates (HA),UK,Jim Henson,Adventure,12729917.0,NaN,Labyrinth,PG,1986-06-27,101,7.4,David Bowie,102879,12.737310,Dennis Lee,1986

In [451]:
Movies.head()

,Har_mean,Oscar_wins,Standard_mean,budget,company,country,director,genre,gross,movie_name,name,rating,released,runtime,score,star,votes,weighted_mean,writer,year
0,4192.927729,NaN,26143711.05,8000000.0,Columbia Pictures Corporation,USA,Rob Reiner,Adventure,52287414.0,NaN,Stand by Me,R,1986-08-22,89,8.1,Wil Wheaton,299174,4192.927729,Stephen King,1986
1,5415.930414,NaN,35068188.40,6000000.0,Paramount Pictures,USA,John Hughes,Comedy,70136369.0,NaN,Ferris Bueller's Day Off,PG-13,1986-06-11,103,7.8,Matthew Broderick,264740,5415.930414,John Hughes,1986
2,12282.179054,NaN,89900303.95,15000000.0,Paramount Pictures,USA,Tony Scott,Action,179800601.0,NaN,Top Gun,PG,1986-05-16,110,6.9,Tom Cruise,236909,12282.179054,Jim Cash,1986
3,7081.926224,NaN,42580128.20,18500000.0,Twentieth Century Fox Film Corporation,USA,James Cameron,Action,85160248.0,NaN,Aliens,R,1986-07-18,137,8.4,Sigourney Weaver,540152,7081.926224,James Cameron,1986
4,1268.148714,NaN,9282309.95,9000000.0,Walt Disney Pictures,USA,Randal Kleiser,Adventure,18564613.0,NaN,Flight of the Navigator,PG,1986-08-01,90,6.9,Joey Cramer,36636,1268.148714,Mark H. Baker,1986

In [462]:
win_nom = pd.merge(Movies,Movie_nom[['name','Oscar_noms']],on='name', how='left')

In [463]:
win_nom.head()

,Har_mean,Oscar_wins,Standard_mean,budget,company,country,director,genre,gross,movie_name,...,rating,released,runtime,score,star,votes,weighted_mean,writer,year,Oscar_noms
0,4192.927729,NaN,26143711.05,8000000.0,Columbia Pictures Corporation,USA,Rob Reiner,Adventure,52287414.0,NaN,...,R,1986-08-22,89,8.1,Wil Wheaton,299174,4192.927729,Stephen King,1986,NaN
1,5415.930414,NaN,35068188.40,6000000.0,Paramount Pictures,USA,John Hughes,Comedy,70136369.0,NaN,...,PG-13,1986-06-11,103,7.8,Matthew Broderick,264740,5415.930414,John Hughes,1986,NaN
2,12282.179054,NaN,89900303.95,15000000.0,Paramount Pictures,USA,Tony Scott,Action,179800601.0,NaN,...,PG,1986-05-16,110,6.9,Tom Cruise,236909,12282.179054,Jim Cash,1986,NaN
3,7081.926224,NaN,42580128.20,18500000.0,Twentieth Century Fox Film Corporation,USA,James Cameron,Action,85160248.0,NaN,...,R,1986-07-18,137,8.4,Sigourney Weaver,540152,7081.926224,James Cameron,1986,1.0
4,1268.148714,NaN,9282309.95,9000000.0,Walt Disney Pictures,USA,Randal Kleiser,Adventure,18564613.0,NaN,...,PG,1986-08-01,90,6.9,Joey Cramer,36636,1268.148714,Mark H. Baker,1986,NaN

In [476]:
win_nom.groupby('Oscar_noms').size()

Oscar_noms
1.0     233
2.0      84
3.0      22
4.0       7
0      6385
dtype: int64

In [477]:
win_nom.groupby('Oscar_wins').size()

Oscar_wins
1.0      82
2.0      18
3.0       3
0      6628
dtype: int64

In [467]:
win_nom.dtypes

Har_mean         float64
Oscar_wins       float64
Standard_mean    float64
budget           float64
company           object
country           object
director          object
genre             object
gross            float64
movie_name        object
name              object
rating            object
released          object
runtime            int64
score            float64
star              object
votes              int64
weighted_mean    float64
writer            object
year               int64
Oscar_noms       float64
dtype: object

In [478]:
 win_nom = win_nom.drop(['movie_name','company','released','country','rating'], axis=1)

In [480]:
win_nom.head()

,Har_mean,Oscar_wins,Standard_mean,budget,director,genre,gross,name,runtime,score,star,votes,weighted_mean,writer,year,Oscar_noms
0,4192.927729,0,26143711.05,8000000.0,Rob Reiner,Adventure,52287414.0,Stand by Me,89,8.1,Wil Wheaton,299174,4192.927729,Stephen King,1986,0
1,5415.930414,0,35068188.40,6000000.0,John Hughes,Comedy,70136369.0,Ferris Bueller's Day Off,103,7.8,Matthew Broderick,264740,5415.930414,John Hughes,1986,0
2,12282.179054,0,89900303.95,15000000.0,Tony Scott,Action,179800601.0,Top Gun,110,6.9,Tom Cruise,236909,12282.179054,Jim Cash,1986,0
3,7081.926224,0,42580128.20,18500000.0,James Cameron,Action,85160248.0,Aliens,137,8.4,Sigourney Weaver,540152,7081.926224,James Cameron,1986,1
4,1268.148714,0,9282309.95,9000000.0,Randal Kleiser,Adventure,18564613.0,Flight of the Navigator,90,6.9,Joey Cramer,36636,1268.148714,Mark H. Baker,1986,0

In [474]:
win_nom['Oscar_noms'] = win_nom['Oscar_noms'].fillna('0')
win_nom['Oscar_wins'] = win_nom['Oscar_wins'].fillna('0')

In [481]:
win_nom.head(10)

,Har_mean,Oscar_wins,Standard_mean,budget,director,genre,gross,name,runtime,score,star,votes,weighted_mean,writer,year,Oscar_noms
0,4192.927729,0,26143711.05,8000000.0,Rob Reiner,Adventure,52287414.0,Stand by Me,89,8.1,Wil Wheaton,299174,4192.927729,Stephen King,1986,0
1,5415.930414,0,35068188.40,6000000.0,John Hughes,Comedy,70136369.0,Ferris Bueller's Day Off,103,7.8,Matthew Broderick,264740,5415.930414,John Hughes,1986,0
2,12282.179054,0,89900303.95,15000000.0,Tony Scott,Action,179800601.0,Top Gun,110,6.9,Tom Cruise,236909,12282.179054,Jim Cash,1986,0
3,7081.926224,0,42580128.20,18500000.0,James Cameron,Action,85160248.0,Aliens,137,8.4,Sigourney Weaver,540152,7081.926224,James Cameron,1986,1
4,1268.148714,0,9282309.95,9000000.0,Randal Kleiser,Adventure,18564613.0,Flight of the Navigator,90,6.9,Joey Cramer,36636,1268.148714,Mark H. Baker,1986,0
5,932.593719,0,6364962.20,25000000.0,Jim Henson,Adventure,12729917.0,Labyrinth,101,7.4,David Bowie,102879,932.593719,Dennis Lee,1986,0
6,660.325826,0,4275617.90,6000000.0,David Lynch,Drama,8551228.0,Blue Velvet,120,7.8,Isabella Rossellini,146768,660.325826,David Lynch,1986,1
7,2724.552353,0,20235834.90,9000000.0,Howard Deutch,Comedy,40471663.0,Pretty in Pink,96,6.8,Molly Ringwald,60565,2724.552353,John Hughes,1986,0
8,3003.899951,0,20228286.25,15000000.0,David Cronenberg,Drama,40456565.0,The Fly,96,7.5,Jeff Goldblum,129698,3003.899951,George Langelaan,1986,0
9,11237.762250,0,87317503.25,8800000.0,Peter Faiman,Adventure,174635000.0,Crocodile Dundee,97,6.5,Paul Hogan,79465,11237.762250,Ken Shadie,1986,0

In [483]:
win_nom.to_pickle("win_nom")

In [491]:
win_nom.loc[win_nom['Har_mean'].idxmin()]

Har_mean                0.0039501
Oscar_wins                      0
Standard_mean               37.85
budget                          0
director           Carles Torrens
genre                      Horror
gross                          70
name                          Pet
runtime                        94
score                         5.7
star             Dominic Monaghan
votes                       10504
weighted_mean           0.0039501
writer              Jeremy Slater
year                         2016
Oscar_noms                      0
Name: 6592, dtype: object

In [488]:
win_nom.dtypes

Har_mean         float64
Oscar_wins        object
Standard_mean    float64
budget           float64
director          object
genre             object
gross            float64
name              object
runtime            int64
score            float64
star              object
votes              int64
weighted_mean    float64
writer            object
year               int64
Oscar_noms        object
dtype: object