In [1]:
import os.path
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# Ensure the file exists
if  not os.path.exists("AllMoviesDetailsCleaned.csv"):
    print("Missing dataset file")

In [3]:
details = pd.read_csv("AllMoviesDetailsCleaned.csv", sep=';', engine = 'python')

In [4]:
details.head(5)

,ï»¿id,budget,genres,imdb_id,original_language,original_title,overview,popularity,production_companies,production_countries,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,production_companies_number,production_countries_number,spoken_languages_number
0,2,0,Drama|Crime,tt0094675,fi,Ariel,Taisto Kasurinen is a Finnish coal miner whose...,0.823904,Villealfa Filmproduction Oy,Finland,...,69.0,suomi,Released,NaN,Ariel,7.1,40,2,1,2
1,3,0,Drama|Comedy,tt0092149,fi,Varjoja paratiisissa,"An episode in the life of Nikander, a garbage ...",0.47445,Villealfa Filmproduction Oy,Finland,...,76.0,English,Released,NaN,Shadows in Paradise,7.0,32,1,1,3
2,5,4000000,Crime|Comedy,tt0113101,en,Four Rooms,It's Ted the Bellhop's first night on the job....,1.698,Miramax Films,United States of America,...,98.0,English,Released,Twelve outrageous guests. Four scandalous requ...,Four Rooms,6.5,485,2,1,1
3,6,0,Action|Thriller|Crime,tt0107286,en,Judgment Night,"While racing to a boxing match, Frank, Mike, J...",1.32287,Universal Pictures,Japan,...,110.0,English,Released,Don't move. Don't whisper. Don't even breathe.,Judgment Night,6.5,69,3,2,1
4,8,42000,Documentary,tt0825671,en,Life in Loops (A Megacities RMX),Timo Novotny labels his new project an experim...,0.054716,inLoops,Austria,...,80.0,English,Released,A Megacities remix.,Life in Loops (A Megacities RMX),6.4,4,1,1,5

In [5]:
details.drop(['original_language', 'overview', 'production_countries', 'spoken_languages', 'status', 'tagline', 
              'production_companies_number', 'production_countries_number', 'spoken_languages_number', 'imdb_id',
              'original_title'
             ], axis=1, inplace=True)

In [6]:
details.head(5)

,ï»¿id,budget,genres,popularity,production_companies,release_date,revenue,runtime,title,vote_average,vote_count
0,2,0,Drama|Crime,0.823904,Villealfa Filmproduction Oy,21/10/1988,0,69.0,Ariel,7.1,40
1,3,0,Drama|Comedy,0.47445,Villealfa Filmproduction Oy,16/10/1986,0,76.0,Shadows in Paradise,7.0,32
2,5,4000000,Crime|Comedy,1.698,Miramax Films,25/12/1995,4300000,98.0,Four Rooms,6.5,485
3,6,0,Action|Thriller|Crime,1.32287,Universal Pictures,15/10/1993,12136938,110.0,Judgment Night,6.5,69
4,8,42000,Documentary,0.054716,inLoops,01/01/2006,0,80.0,Life in Loops (A Megacities RMX),6.4,4

In [7]:
details.rename(columns={'ï»¿id': 'Movie ID', 'budget': 'Budget', 'genres': 'Genres','popularity': 'Popularity', 
                        'production_companies': 'Production_Company', 'release_date': 'Released',
                        'revenue': 'Revenue', 'runtime': 'Runtime', 'title': 'Movie_Title', 'vote_average': 'Average_Rating',
                        'vote_count': 'Number_of_Ratings'}, inplace=True)

In [8]:
details.head(10)

,Movie ID,Budget,Genres,Popularity,Production_Company,Released,Revenue,Runtime,Movie_Title,Average_Rating,Number_of_Ratings
0,2,0,Drama|Crime,0.823904,Villealfa Filmproduction Oy,21/10/1988,0,69.0,Ariel,7.1,40
1,3,0,Drama|Comedy,0.47445,Villealfa Filmproduction Oy,16/10/1986,0,76.0,Shadows in Paradise,7.0,32
2,5,4000000,Crime|Comedy,1.698,Miramax Films,25/12/1995,4300000,98.0,Four Rooms,6.5,485
3,6,0,Action|Thriller|Crime,1.32287,Universal Pictures,15/10/1993,12136938,110.0,Judgment Night,6.5,69
4,8,42000,Documentary,0.054716,inLoops,01/01/2006,0,80.0,Life in Loops (A Megacities RMX),6.4,4
5,9,0,Drama,0.001647,none,02/09/2004,0,15.0,Sunday in August,5.3,2
6,11,11000000,Adventure|Action|Science Fiction,10.492614,Lucasfilm,25/05/1977,775398007,121.0,Star Wars,8.0,6168
7,12,94000000,Animation|Family,9.915573,Pixar Animation Studios,30/05/2003,940335536,100.0,Finding Nemo,7.6,5531
8,13,55000000,Comedy|Drama|Romance,10.351236,Paramount Pictures,06/07/1994,677945399,142.0,Forrest Gump,8.2,7204
9,14,15000000,Drama,8.191009,DreamWorks SKG,15/09/1999,356296601,122.0,American Beauty,7.9,2994

In [9]:
details.shape

(329044, 11)

In [10]:
details.isnull().sum()

Movie ID                   0
Budget                     0
Genres                121529
Popularity                 0
Production_Company         0
Released               24046
Revenue                    0
Runtime                36792
Movie_Title                1
Average_Rating             0
Number_of_Ratings          0
dtype: int64

In [11]:
details.to_pickle("Movies_Details.pkl")

In [12]:
All_Genres = details.Genres.str.split(pat='|',expand=False)
All_Genres.head(10)

0                          [Drama, Crime]
1                         [Drama, Comedy]
2                         [Crime, Comedy]
3               [Action, Thriller, Crime]
4                           [Documentary]
5                                 [Drama]
6    [Adventure, Action, Science Fiction]
7                     [Animation, Family]
8                [Comedy, Drama, Romance]
9                                 [Drama]
Name: Genres, dtype: object

In [16]:
details[(details.Popularity != 0)&(details.Revenue != 0)&(details.Average_Rating !=0)&(details.Number_of_Ratings >10)]

,Movie ID,Budget,Genres,Popularity,Production_Company,Released,Revenue,Runtime,Movie_Title,Average_Rating,Number_of_Ratings
2,5,4000000,Crime|Comedy,1.698,Miramax Films,25/12/1995,4300000,98.0,Four Rooms,6.5,485
3,6,0,Action|Thriller|Crime,1.32287,Universal Pictures,15/10/1993,12136938,110.0,Judgment Night,6.5,69
6,11,11000000,Adventure|Action|Science Fiction,10.492614,Lucasfilm,25/05/1977,775398007,121.0,Star Wars,8.0,6168
7,12,94000000,Animation|Family,9.915573,Pixar Animation Studios,30/05/2003,940335536,100.0,Finding Nemo,7.6,5531
8,13,55000000,Comedy|Drama|Romance,10.351236,Paramount Pictures,06/07/1994,677945399,142.0,Forrest Gump,8.2,7204
9,14,15000000,Drama,8.191009,DreamWorks SKG,15/09/1999,356296601,122.0,American Beauty,7.9,2994
10,15,839727,Mystery|Drama,3.82689,RKO Radio Pictures,30/04/1941,23217674,119.0,Citizen Kane,7.9,1110
11,16,12800000,Drama|Crime|Music,2.106217,Fine Line Features,17/05/2000,40031879,140.0,Dancer in the Dark,7.6,348
13,18,90000000,Adventure|Fantasy|Action|Thriller|Science Fiction,9.233786,Columbia Pictures,07/05/1997,263920180,126.0,The Fifth Element,7.2,3629
14,19,92620000,Drama|Science Fiction,3.669986,Paramount Pictures,10/01/1927,650422,153.0,Metropolis,8.0,614
15,20,0,Drama|Romance,0.911462,El Deseo,07/03/2003,9726954,106.0,My Life Without Me,7.2,75
17,22,140000000,Adventure|Fantasy|Action,28.769026,Walt Disney Pictures,09/07/2003,655011224,143.0,Pirates of the Caribbean: The Curse of the Bla...,7.4,6368
18,24,30000000,Action|Crime,7.891837,Miramax Films,10/10/2003,180949000,111.0,Kill Bill: Vol. 1,7.7,4486
19,25,72000000,Drama|War,2.41718,Universal Pictures,04/11/2005,96889998,125.0,Jarhead,6.5,722
21,27,1000000,Drama|Music|Romance,2.939728,Revolution Films,16/07/2004,1574623,66.0,9 Songs,5.1,95
22,28,31500000,Drama|War,7.620077,United Artists,15/08/1979,89460381,153.0,Apocalypse Now,8.0,1869
26,33,14000000,Western,3.176169,Malpaso Productions,07/08/1992,159157447,131.0,Unforgiven,7.7,1036
27,35,75000000,Animation|Comedy|Family,4.864034,Gracie Films,25/07/2007,527068851,87.0,The Simpsons Movie,6.9,2043
28,38,20000000,Science Fiction|Drama|Romance,7.056735,Anonymous Content,19/03/2004,72258126,108.0,Eternal Sunshine of the Spotless Mind,7.9,3330
29,55,2000000,Drama|Thriller,2.400763,Altavista Films,16/06/2000,20908467,154.0,Amores perros,7.6,486
30,58,200000000,Adventure|Fantasy|Action,10.493411,Walt Disney Pictures,20/06/2006,1065659812,151.0,Pirates of the Caribbean: Dead Man's Chest,6.9,4795
31,59,32000000,Drama|Thriller|Crime,2.608147,New Line Cinema,23/09/2005,60740827,96.0,A History of Violence,6.9,781
32,62,10500000,Science Fiction|Mystery|Adventure,7.916619,Stanley Kubrick Productions,05/04/1968,68700000,149.0,2001: A Space Odyssey,7.8,2749
33,63,29500000,Science Fiction|Thriller|Mystery,5.554498,Universal Pictures,29/12/1995,168840000,129.0,Twelve Monkeys,7.4,2227
34,64,9285469,Drama|Romance,1.854669,VÃ­a Digital,14/03/2002,51001550,112.0,Talk to Her,7.4,240
35,65,41000000,Drama,2.878236,Imagine Entertainment,08/11/2002,215000000,110.0,8 Mile,6.8,1490
36,66,50000000,Crime|Drama|Thriller,1.731916,Columbia Pictures,14/02/1997,50068310,121.0,Absolute Power,6.4,204
37,67,0,Thriller|Crime|Drama,0.448294,Lama Films,14/02/2005,3357075,90.0,Paradise Now,6.9,59
39,69,28000000,Drama|Music|Romance,2.099303,Tree Line Films,13/09/2005,186438883,136.0,Walk the Line,7.3,675
40,70,30000000,Drama,4.499157,Lakeshore Entertainment,15/12/2004,216763646,132.0,Million Dollar Baby,7.7,2189
...,...,...,...,...,...,...,...,...,...,...,...
267152,395452,3500000,Drama|Adventure,0.237093,Nord-Ouest Films,15/06/2016,1492523,105.0,In the Forests of Siberia,7.3,25
267407,395762,7230000,Comedy,0.100655,CinÃ©maginaire Inc.,28/12/2016,1453270,NaN,PÃ¨re fils thÃ©rapie !,5.5,23
267619,395992,58000000,Horror|Science Fiction|Thriller,16.407443,Columbia Pictures,22/03/2017,93811028,103.0,Life,6.2,1484
267855,396263,0,Action|Animation|Horror|Science Fiction,1.81854,Digital Frontier,14/10/2016,2238600,95.0,Gantz:O,7.2,58
269182,397837,5000000,Drama|Mystery|Thriller,7.222601,Jon Shestack Productions,02/03/2017,10025571,98.0,Before I Fall,6.7,400
269725,398535,5980000,Thriller|Crime|Drama,0.441336,Balaji Motion Pictures,17/06/2016,14900000,149.0,Udta Punjab,7.4,25
270069,398929,0,Comedy,2.262317,StudioCanal,15/02/2017,222430,90.0,Alibi.com,7.0,282
270144,399019,10500000,Drama|Western,1.782013,American Zoetrope,23/06/2017,5535981,91.0,The Beguiled,6.4,42
271743,400928,7000000,Drama,12.571536,Fox Searchlight Pictures,08/02/2017,22900823,101.0,Gifted,7.6,293
272875,402298,10000000,Drama|History,1.197584,BBC Films,30/09/2016,3582304,109.0,Denial,6.5,124
273197,402672,15050000,Adventure|Drama|History|Romance,0.215822,UTV Motion Pictures,11/08/2016,16180000,155.0,Mohenjo Daro,6.3,22
273813,403390,20000000,War|Drama|History|Romance,0.736471,Pandastorm Pictures,23/02/2017,557241,103.0,Bitter Harvest,6.7,17
274557,404378,8000000,Drama|Family|Comedy,1.872495,Prescience,04/11/2016,35070000,103.0,A Street Cat Named Bob,7.5,171
278705,409502,1500000,Drama,0.404557,Visible Pictures,21/10/2016,2000000,112.0,I'm Not Ashamed,7.4,21
280205,411268,0,Action|Crime|Drama,0.76304,Media Asia Film,11/08/2016,88658655,108.0,Line Walker,5.6,11
281594,412924,0,Documentary|Music,1.496508,A24,02/10/2016,226286,117.0,Supersonic,7.6,46
282086,413543,4300000,Drama|Romance,0.646615,Red Chillies Entertainment,24/11/2016,3376375,149.0,Dear Zindagi,7.0,38
282128,413594,0,Science Fiction|Adventure|Action|Animation|Fan...,0.340539,Aniplex,18/02/2017,3773155,110.0,Sword Art Online The Movie: Ordinal Scale,8.6,32
282386,413882,0,Drama|Romance,0.056199,Madras Talkies,03/01/2017,345872,135.0,Ok Jaanu,6.2,18
283464,415214,0,Action|Adventure,0.400198,none,30/09/2016,173000000,140.0,Operation Mekong,7.0,26
284240,416149,8000000,Science Fiction|Action,0.378734,Steamroller Productions,09/09/2016,17000000,88.0,The Perfect Weapon,3.8,17
284336,416249,0,Action|Crime|Drama,0.355799,Edko Films,08/09/2016,115000000,110.0,Cold War II,6.7,18
285549,417644,25000000,Action|Comedy|Crime,4.037758,Warner Bros.,23/03/2017,25281326,100.0,CHiPS,6.1,208
285726,417859,130000000,Action|Adventure|Animation|Family|Fantasy,2.380619,DreamWorks,28/10/2011,554987477,90.0,Puss in Boots,6.4,370
286985,419430,4500000,Mystery|Thriller|Horror,15.253557,Blumhouse Productions,24/02/2017,241034425,104.0,Get Out,7.1,2310
290331,423453,0,Adventure|Animation|Comedy|Family,2.550743,StudioCanal,01/02/2017,7800000,86.0,Sahara,5.3,32
291736,425134,0,Comedy,1.445112,Pantelion Films,28/04/2017,26251899,115.0,How to Be a Latin Lover,6.3,44
294115,427910,0,Action|Thriller|Adventure,0.395505,Orion Pictures,20/07/1990,25069101,113.0,Navy Seals,5.1,31
296137,430263,707503,Comedy,0.485009,"Yellow, Black & White",16/02/2017,4781454,90.0,"Have Fun, Vasya!",6.8,11
304878,440642,7075038,History|Drama,1.031297,Bazelevs Production,12/04/2017,9868942,140.0,The Spacewalker,7.0,16

In [15]:
details.groupby(details['Released']
               ).count()

,Movie ID,Budget,Genres,Popularity,Production_Company,Revenue,Runtime,Movie_Title,Average_Rating,Number_of_Ratings
Released,,,,,,,,,,
01/01/1900,200,200,64,200,200,200,200,200,200,200
01/01/1901,43,43,25,43,43,43,43,43,43,43
01/01/1902,26,26,15,26,26,26,26,26,26,26
01/01/1903,21,21,12,21,21,21,21,21,21,21
01/01/1904,17,17,9,17,17,17,17,17,17,17
01/01/1905,36,36,19,36,36,36,36,36,36,36
01/01/1906,24,24,17,24,24,24,24,24,24,24
01/01/1907,29,29,23,29,29,29,29,29,29,29
01/01/1908,30,30,21,30,30,30,29,30,30,30
01/01/1909,31,31,20,31,31,31,31,31,31,31
01/01/1910,32,32,18,32,32,32,32,32,32,32
01/01/1911,38,38,23,38,38,38,37,38,38,38
01/01/1912,47,47,30,47,47,47,45,47,47,47
01/01/1913,50,50,32,50,50,50,50,50,50,50
01/01/1914,20,20,15,20,20,20,18,20,20,20
01/01/1915,27,27,17,27,27,27,27,27,27,27
01/01/1916,31,31,20,31,31,31,29,31,31,31
01/01/1917,25,25,14,25,25,25,25,25,25,25
01/01/1918,31,31,17,31,31,31,27,31,31,31
01/01/1919,22,22,13,22,22,22,20,22,22,22
01/01/1920,35,35,18,35,35,35,31,35,35,35
01/01/1921,27,27,16,27,27,27,27,27,27,27
01/01/1922,24,24,13,24,24,24,22,24,24,24
01/01/1923,20,20,16,20,20,20,20,20,20,20
01/01/1924,16,16,13,16,16,16,16,16,16,16
01/01/1925,35,35,22,35,35,35,35,35,35,35
01/01/1926,43,43,23,43,43,43,43,43,43,43
01/01/1927,41,41,22,41,41,41,41,41,41,41
01/01/1928,44,44,18,44,44,44,44,44,44,44
01/01/1929,46,46,18,46,46,46,45,46,46,46
...,...,...,...,...,...,...,...,...,...,...
31/12/1993,20,20,13,20,20,20,17,20,20,20
31/12/1994,16,16,8,16,16,16,15,16,16,16
31/12/1995,19,19,10,19,19,19,16,19,19,19
31/12/1996,10,10,6,10,10,10,9,10,10,10
31/12/1997,24,24,13,24,24,24,24,24,24,24
31/12/1998,26,26,13,26,26,26,24,26,26,26
31/12/1999,24,24,12,24,24,24,22,24,24,24
31/12/2000,28,28,13,28,28,28,26,28,28,28
31/12/2001,13,13,6,13,13,13,12,13,13,13
31/12/2002,30,30,18,30,30,30,27,30,30,30
31/12/2003,36,36,20,36,36,36,33,36,36,36
31/12/2004,44,44,30,44,44,44,37,44,44,44
31/12/2005,30,30,20,30,30,30,28,30,30,30
31/12/2006,22,22,12,22,22,22,17,22,22,22
31/12/2007,26,26,19,26,26,26,24,26,26,26
31/12/2008,35,35,26,35,35,35,32,35,35,35
31/12/2009,47,47,35,47,47,47,42,47,47,47
31/12/2010,57,57,42,57,57,57,55,57,57,57
31/12/2011,55,55,39,55,55,55,48,55,55,55
31/12/2012,41,41,29,41,41,41,36,41,41,41
31/12/2013,45,45,32,45,45,45,40,45,45,45
31/12/2014,86,86,71,86,86,86,76,86,86,86
31/12/2015,85,85,68,85,85,85,71,85,85,85
31/12/2016,77,77,47,77,77,77,65,77,77,77
31/12/2017,151,151,116,151,151,151,147,151,151,151
31/12/2018,97,97,77,97,97,97,96,97,97,97
31/12/2019,37,37,30,37,37,37,37,37,37,37
31/12/2020,11,11,10,11,11,11,11,11,11,11
31/12/2021,1,1,0,1,1,1,1,1,1,1
31/12/2022,1,1,0,1,1,1,1,1,1,1