In [2]:
import sys
sys.path.append("/home/Documents/GitHub/YouTubeTest/")

In [165]:
import json#for decoding a JSON response
import pandas as pd
import jellyfish
import numpy as np

In [253]:
#I used some of the code in the following stackoverflow question to help me with the youTube api, https://stackoverflow.com/questions/46812867/youtube-api-not-getting-all-videos-of-the-given-channel
# This code is based on the a very good example from Coding 101 which you can find here:https://www.youtube.com/watch?v=_M_wle0Iq9M
# This python 2.7.14 example shows how to retrieve with Youtube API v3 a list of uploaded Youtube videos in a channel 
#
# The code consists of two parts:
# - The first part queries the videos in a channel and stores it in a list
# - The second part queries in detail each individual video

try:
    from urllib.request import Request, urlopen
    from urllib.parse import urlencode
except ImportError:
    # Python 2 support
    from urllib2 import Request, urlopen
    from urllib import urlencode
#import urllib #importing to use its urlencode function
#import urllib2 #for making http requests
#import json #for decoding a JSON response


API_KEY = 'AIzaSyBZsz5hzXPZoIS1X-QtNokuFKl6YCdHLa8' # What? How? Learn here: https://www.youtube.com/watch?v=JbWnRhHfTDA 
ChannelIdentifier = 'UCi8e0iOVk1fEOogdfu4YgfA' # What? How? Learn here: https://www.youtube.com/watch?v=tf42K4pPWkM
#
# This first part will query the list of videos uploaded of a specific channel
# The identification is done through the ChannelIdentifier hwich you have defined as a variable
# The results from this first part will be stored in the list videoMetadata. This will be used in the second part of the code below.
# This code is based on the a very good example from Coding 101 which you can find here:https://www.youtube.com/watch?v=_M_wle0Iq9M


first_part_search = 'https://www.googleapis.com/youtube/v3/search?'                                                   #&publishedAfter=2012-03-01T00:00:00.0Z
first_url = first_part_search +'part=snippet&channelId='+ChannelIdentifier+'&maxResults=50&publishedBefore=2011-09-01T00:00:00.0Z&publishedAfter=2011-06-01T00:00:00.0Z&type=video&key='+API_KEY
 
videoMetadata = [] #declaring our list
url = first_url
while True:
    response = urlopen(url) #makes the call to YouTube
    videos = json.load(response) #decodes the response so we can work with it
    for video in videos['items']:
        if video['id']['kind'] == 'youtube#video':
            videoMetadata.append(video['id']['videoId']) #Appends each videoID and link to our list
#            print ("https://www.youtube.com/watch?v="+(video['id']['videoId']))
            next_page_token = videos['nextPageToken']

    try:
        next_page_token = videos['nextPageToken']
        url = first_url + '&pageToken={}'.format(next_page_token)
        print("have token",next_page_token)
    except:
            break
trailerList = []
#print("Title,Upload_Date,Views,Likes,Dislikes,Comments")
for metadata in videoMetadata:
 #   print ("https://www.youtube.com/watch?v="+metadata)  # Here the videoID is printed
    SpecificVideoID = metadata
    SpecificVideoUrl = 'https://www.googleapis.com/youtube/v3/videos?part=snippet%2CcontentDetails%2Cstatistics&id='+SpecificVideoID+'&key='+API_KEY
    response = urlopen(SpecificVideoUrl) #makes the call to a specific YouTube
    videos = json.load(response) #decodes the response so we can work with it
    videoMetadata = [] #declaring our list
    
    for video in videos['items']: 
        if video['kind'] == 'youtube#video':
            try:
                trailerList.append(video['snippet']['title']+"*"+video['snippet']['publishedAt']+"*"+video['statistics']['viewCount']+"*"+video['statistics']['likeCount']+"*"+video['statistics']['dislikeCount']+"*"+video['statistics']['commentCount'])
            except:
                continue

trailers = pd.DataFrame(trailerList)

have token CDIQAA
have token CGQQAA
have token CJYBEAA
have token CMgBEAA
have token CPoBEAA
have token CKwCEAA
have token CN4CEAA
have token CJADEAA
have token CMIDEAA

In [164]:
trailerData = pd.DataFrame()

In [254]:
trailers.head(10)

                                                   0
0  Rise of the Planet of the Apes (2011) HD Weta ...
1  Senna (2011) Trailer - No Fear No Limits No Eq...
2  Drive - Movie Trailer (2011) HD*2011-08-10T00:...
3  The Way - Movie Trailer (2011) HD*2011-08-22T2...
4  Hysteria (2011) Trailer - HD Movie*2011-08-17T...
5  Margin Call (2011) Official HD Trailer Debut*2...
6  The Change-Up (2011) Movie Trailer HD*2011-06-...
7  Shaolin (2011) HD Movie Trailer*2011-07-28T22:...
8  A Dangerous Method Official Trailer (2011) HD ...
9  Senna (2011) 1988 Monaco Grand Prix - HD Exclu...

In [255]:
trailers.shape

(202, 1)

In [256]:
trailerData = trailerData.append(trailers, ignore_index = True)

In [257]:
trailerData.shape

(4254, 1)

In [258]:
trailerData.to_pickle("trailers.pkl")

In [556]:
trailerData = pd.read_pickle("trailers.pkl")

In [371]:
trailerData.head()

                 Title Published    Views  Likes Dislikes Comments
0  The Disaster Artist      2017  1796238  33304      605     2730
1        The Foreigner      2017  6343260  84292      962     7771
2              Dunkirk      2017  3452609  28774      772     3899
3             I, Tonya      2017  3664652  18410      575      891
4             Stronger      2017  3151884  25731      913     1976

In [557]:
trailerData.columns = ['data']

In [69]:
trailerData.head(10)

                       Title   Published     Views   Likes Dislikes Comments
0        The Disaster Artist  2017-07-18   1796238   33304      605     2730
1              The Foreigner  2017-06-26   6343260   84292      962     7771
2                    Dunkirk  2017-05-05   3452609   28774      772     3899
3                   I, Tonya  2017-11-01   3664652   18410      575      891
4                   Stronger  2017-06-22   3151884   25731      913     1976
5  Goodbye Christopher Robin  2017-08-03   1649891   19853      391     1187
6                         It  2017-07-27  11253203   71444     3589     7267
7            Happy Death Day  2017-06-15   4998415   33947     1654     5375
8    The Mountain Between Us  2017-05-31   1922247   10922      392     1105
9            Pitch Perfect 3  2017-06-25   8065643  103251     5524     5836

In [559]:
trailerData = trailerData.data.str.split('*', expand=True,)

In [560]:
trailerData.rename(columns={0:'Title' ,1:'Published',2:'Views',3:'Likes',4:'Dislikes',5:'Comments'}, inplace=True)

In [70]:
trailerData.head()

                 Title   Published    Views  Likes Dislikes Comments
0  The Disaster Artist  2017-07-18  1796238  33304      605     2730
1        The Foreigner  2017-06-26  6343260  84292      962     7771
2              Dunkirk  2017-05-05  3452609  28774      772     3899
3             I, Tonya  2017-11-01  3664652  18410      575      891
4             Stronger  2017-06-22  3151884  25731      913     1976

In [562]:
trailerData = trailerData.drop([6,7,8],axis=1)

In [563]:
trailerData.head()

,Title,Published,Views,Likes,Dislikes,Comments
0,Avengers: Infinity War Trailer #1 (2018) | Mov...,2017-11-29T14:11:25.000Z,6952182,103276,2082,13471
1,The Disaster Artist Teaser Trailer #1 | Moviec...,2017-07-18T13:00:04.000Z,1796238,33304,605,2730
2,The Foreigner Trailer #1 (2017) | Movieclips T...,2017-06-26T15:33:32.000Z,6343260,84292,962,7771
3,Dunkirk Trailer #2 (2017) | Movieclips Trailers,2017-05-05T15:59:39.000Z,3452609,28774,772,3899
4,"I, Tonya Trailer #1 (2017) | Movieclips Trailers",2017-11-01T16:40:51.000Z,3664652,18410,575,891

In [ ]:
trailerData.shape

In [339]:
trailerData = trailerData[trailerData['Title'].str.contains('Trailer')]

In [340]:
trailerData.head()

,Title,Published,Views,Likes,Dislikes,Comments
921,Trailer Reaction: Star Wars: Episode VII - The...,2015,257524,3521,189,588
951,Trailer Breakdown: Star Wars: Episode VII - Th...,2015,128765,1367,71,514

In [341]:
trailerData.shape

(2, 6)

In [567]:
trailerData["Title"] = trailerData["Title"].str.split("|", expand=True)[0]
trailerData["Published"] = trailerData["Published"].str.split("T", expand=True)[0]

In [568]:
trailerData.head()

,Title,Published,Views,Likes,Dislikes,Comments
0,Avengers: Infinity War Trailer #1 (2018),2017-11-29,6952182,103276,2082,13471
1,The Disaster Artist Teaser Trailer #1,2017-07-18,1796238,33304,605,2730
2,The Foreigner Trailer #1 (2017),2017-06-26,6343260,84292,962,7771
3,Dunkirk Trailer #2 (2017),2017-05-05,3452609,28774,772,3899
4,"I, Tonya Trailer #1 (2017)",2017-11-01,3664652,18410,575,891

In [404]:
trailerData = trailerData[~trailerData['Title'].str.contains('2018')]
trailerData = trailerData[~trailerData['Title'].str.contains('Comic-Con')]
trailerData = trailerData[~trailerData['Title'].str.contains(' Season')]
trailerData = trailerData[~trailerData['Title'].str.contains('Best New')]

In [373]:
trailerData.head()

                 Title Published    Views  Likes Dislikes Comments
0  The Disaster Artist      2017  1796238  33304      605     2730
1        The Foreigner      2017  6343260  84292      962     7771
2              Dunkirk      2017  3452609  28774      772     3899
3             I, Tonya      2017  3664652  18410      575      891
4             Stronger      2017  3151884  25731      913     1976

In [580]:
trailerData = trailerData.replace(dict(Title={'\(.*\)':''}), regex=True)

In [581]:
trailerData.head(10)

                       Title   Published     Views   Likes Dislikes Comments
0        The Disaster Artist  2017-07-18   1796238   33304      605     2730
1              The Foreigner  2017-06-26   6343260   84292      962     7771
2                    Dunkirk  2017-05-05   3452609   28774      772     3899
3                   I, Tonya  2017-11-01   3664652   18410      575      891
4                   Stronger  2017-06-22   3151884   25731      913     1976
5  Goodbye Christopher Robin  2017-08-03   1649891   19853      391     1187
6                         It  2017-07-27  11253203   71444     3589     7267
7            Happy Death Day  2017-06-15   4998415   33947     1654     5375
8    The Mountain Between Us  2017-05-31   1922247   10922      392     1105
9            Pitch Perfect 3  2017-06-25   8065643  103251     5524     5836

In [374]:
trailerData["Published"] = trailerData["Published"].str.split("-", expand=True)[0]
trailerData["Title"] = trailerData["Title"].str.split(" Teaser Trailer", expand=True)[0]
trailerData["Title"] = trailerData["Title"].str.split(" International Trailer", expand=True)[0]
trailerData["Title"] = trailerData["Title"].str.split(" Trailer", expand=True)[0]
trailerData["Title"] = trailerData["Title"].str.split(" Official HD", expand=True)[0]
trailerData["Title"] = trailerData["Title"].str.split(" Movie", expand=True)[0]
trailerData["Title"] = trailerData["Title"].str.split(" Official", expand=True)[0]
trailerData["Title"] = trailerData["Title"].str.split(" - Movie", expand=True)[0]
trailerData["Title"] = trailerData["Title"].str.split(" -", expand=True)[0]
trailerData["Title"] = trailerData["Title"].str.split(" HD", expand=True)[0]
trailerData["Title"] = trailerData["Title"].str.split(" Blu-Ray", expand=True)[0]
trailerData["Title"] = trailerData["Title"].str.split(" IMAX", expand=True)[0]
trailerData["Title"] = trailerData["Title"].str.split(" 3D", expand=True)[0]
trailerData["Title"] = trailerData["Title"].str.split(" Red Band", expand=True)[0]

In [375]:
trailerData.head(20)

,Title,Published,Views,Likes,Dislikes,Comments
0,The Disaster Artist,2017,1796238,33304,605,2730
1,The Foreigner,2017,6343260,84292,962,7771
2,Dunkirk,2017,3452609,28774,772,3899
3,"I, Tonya",2017,3664652,18410,575,891
4,Stronger,2017,3151884,25731,913,1976
5,Goodbye Christopher Robin,2017,1649891,19853,391,1187
6,It,2017,11253203,71444,3589,7267
7,Happy Death Day,2017,4998415,33947,1654,5375
8,The Mountain Between Us,2017,1922247,10922,392,1105
9,Pitch Perfect 3,2017,8065643,103251,5524,5836
10,Coco,2017,5088810,23704,1174,2717
11,The Man Who Invented Christmas,2017,1610352,18110,523,637
12,The Glass Castle,2017,1614300,9990,343,718
13,Thank You for Your Service,2017,2130075,18567,948,2051
14,Wonder,2017,890101,13864,256,1086
15,The Disaster Artist,2017,649344,16167,329,1237
16,The Greatest Showman,2017,838433,17787,457,1191
17,Daddy's Home 2,2017,2048949,14582,754,1224
18,The Greatest Showman,2017,358177,4408,75,186
19,Star Wars: The Last Jedi,2017,1156975,22753,812,2515

In [376]:
trailerData.shape

(3406, 6)

In [294]:
trailerData.reset_index(inplace = True,drop=True)

In [377]:
trailerData.head(10)

                       Title Published     Views   Likes Dislikes Comments
0        The Disaster Artist      2017   1796238   33304      605     2730
1              The Foreigner      2017   6343260   84292      962     7771
2                    Dunkirk      2017   3452609   28774      772     3899
3                   I, Tonya      2017   3664652   18410      575      891
4                   Stronger      2017   3151884   25731      913     1976
5  Goodbye Christopher Robin      2017   1649891   19853      391     1187
6                         It      2017  11253203   71444     3589     7267
7            Happy Death Day      2017   4998415   33947     1654     5375
8    The Mountain Between Us      2017   1922247   10922      392     1105
9            Pitch Perfect 3      2017   8065643  103251     5524     5836

In [296]:
trailerData.shape

(3406, 6)

In [378]:
trailerData.to_pickle("trailers.pkl")

In [297]:
trailerData.groupby('Published').count()

           Title  Views  Likes  Dislikes  Comments
Published
2011         342    342    342       342       342
2012         549    549    549       549       549
2013         613    613    613       613       613
2014         575    575    575       575       575
2015         524    524    524       524       524
2016         467    467    467       467       467
2017         336    336    336       336       336

In [557]:
trailerData = trailerData[~trailerData['Title'].str.contains('Now Playing')]

In [558]:
trailerData.shape

(3404, 6)

In [559]:
trailerData = trailerData[~trailerData['Title'].str.contains('DVD')]

In [560]:
trailerData.shape

(3402, 6)

In [561]:
trailerData = trailerData[~trailerData['Title'].str.contains('Netflix')]

In [562]:
trailerData.shape

(3400, 6)

In [563]:
trailerData = trailerData[~trailerData['Title'].str.contains('Instant')]

In [564]:
trailerData.shape

(3354, 6)

In [565]:
trailerData.head(1200)

,Title,Published,Views,Likes,Dislikes,Comments
0,The Disaster Artist,2017,1796238,33304,605,2730
1,The Foreigner,2017,6343260,84292,962,7771
2,Dunkirk,2017,3452609,28774,772,3899
3,"I, Tonya",2017,3664652,18410,575,891
4,Stronger,2017,3151884,25731,913,1976
5,Goodbye Christopher Robin,2017,1649891,19853,391,1187
6,It,2017,11253203,71444,3589,7267
7,Happy Death Day,2017,4998415,33947,1654,5375
8,The Mountain Between Us,2017,1922247,10922,392,1105
9,Pitch Perfect 3,2017,8065643,103251,5524,5836
10,Coco,2017,5088810,23704,1174,2717
11,The Man Who Invented Christmas,2017,1610352,18110,523,637
12,The Glass Castle,2017,1614300,9990,343,718
13,Thank You for Your Service,2017,2130075,18567,948,2051
14,Wonder,2017,890101,13864,256,1086
15,The Disaster Artist,2017,649344,16167,329,1237
16,The Greatest Showman,2017,838433,17787,457,1191
17,Daddy's Home 2,2017,2048949,14582,754,1224
18,The Greatest Showman,2017,358177,4408,75,186
19,Star Wars: The Last Jedi,2017,1156975,22753,812,2515
20,Den of Thieves,2017,1102929,10313,373,798
21,The Foreigner Final,2017,355708,6134,73,519
22,Murder on the Orient Express,2017,1254117,17259,554,2264
23,The Shape of Water,2017,702695,8976,204,687
24,Only the Brave,2017,1898774,7762,309,824
25,Jungle,2017,2607581,8610,477,831
26,Justice League,2017,1041411,23544,1031,3391
27,Replicas,2017,591643,5581,182,527
28,All I See Is You,2017,881956,7248,304,265
29,Absolutely Anything,2017,2747761,31412,1377,1347
...,...,...,...,...,...,...
1170,Dope,2015,566763,5056,316,402
1171,Zoolander 2,2015,1366029,8772,527,608
1172,Southpaw,2015,1639708,7425,181,417
1173,The Face of an Angel,2015,948350,2070,186,191
1174,Barely Lethal,2015,11291557,34951,4421,2013
1175,Set Fire to the Stars,2015,196061,1549,110,171
1176,The Green Inferno,2015,11516217,23017,3033,4803
1177,Time Out of Mind,2015,1019262,2197,200,280
1178,Southpaw,2015,1639708,7425,181,417
1179,Entourage,2015,571613,2439,180,240
1180,Woman in Gold,2015,972247,1612,102,214
1181,Mission: Impossible Ultimate Legacy,2015,166902,1426,68,49
1182,Little Boy,2015,399315,3194,204,274
1183,Strangerland,2015,1291835,1844,204,241
1184,Ride,2015,832842,2169,190,271
1185,Ricki and the Flash,2015,83707,942,89,74
1186,Vacation,2015,476156,3985,260,381
1187,Straight Outta Compton Pop-Up,2015,162127,1643,64,123
1188,Return to Sender,2015,206328,1318,72,161
1189,Joe Dirt 2: Beautiful Loser,2015,2876401,6889,973,778
1190,Rock the Kasbah,2015,2174438,4984,678,466
1191,The Vatican Tapes,2015,3549661,6461,1049,1104
1192,Boychoir,2015,451921,1388,168,235
1193,Fantastic Four,2015,11461990,26768,3927,3877
1194,The Gift,2015,652455,1552,147,272
1195,By the Sea,2015,3841193,9341,1175,1187
1196,Wild Horses,2015,1036372,1282,178,163
1197,Chocolate City,2015,2400181,8844,1488,1295
1198,American Ultra,2015,156431,1557,103,100
1199,The D Train,2015,2081222,2442,401,375

In [566]:
trailerData['trailerCount'] = trailerData.groupby('Title')['Title'].transform('count')

In [639]:
trailerData.head()

,Title,Published,Views,Likes,Dislikes,Comments,trailerCount
0,The Disaster Artist,2017,1796238,33304,605,2730,2
1,The Foreigner,2017,6343260,84292,962,7771,1
2,Dunkirk,2017,3452609,28774,772,3899,3
3,"I, Tonya",2017,3664652,18410,575,891,2
4,Stronger,2017,3151884,25731,913,1976,1

In [757]:
movies = pd.read_pickle("MovieNoms.pkl")

In [758]:
movies.head()

,Har_mean,Oscar_noms,Standard_mean,budget,company,country,director,genre,gross,movie_name,name,rating,released,runtime,score,star,votes,weighted_mean,writer,year
0,4192.927729,NaN,26143711.05,8000000.0,Columbia Pictures Corporation,USA,Rob Reiner,Adventure,52287414.0,NaN,Stand by Me,R,1986-08-22,89,8.1,Wil Wheaton,299174,4192.927729,Stephen King,1986
1,5415.930414,NaN,35068188.40,6000000.0,Paramount Pictures,USA,John Hughes,Comedy,70136369.0,NaN,Ferris Bueller's Day Off,PG-13,1986-06-11,103,7.8,Matthew Broderick,264740,5415.930414,John Hughes,1986
2,12282.179054,NaN,89900303.95,15000000.0,Paramount Pictures,USA,Tony Scott,Action,179800601.0,NaN,Top Gun,PG,1986-05-16,110,6.9,Tom Cruise,236909,12282.179054,Jim Cash,1986
4,1268.148714,NaN,9282309.95,9000000.0,Walt Disney Pictures,USA,Randal Kleiser,Adventure,18564613.0,NaN,Flight of the Navigator,PG,1986-08-01,90,6.9,Joey Cramer,36636,1268.148714,Mark H. Baker,1986
6,932.593719,NaN,6364962.20,25000000.0,Henson Associates (HA),UK,Jim Henson,Adventure,12729917.0,NaN,Labyrinth,PG,1986-06-27,101,7.4,David Bowie,102879,932.593719,Dennis Lee,1986

In [759]:
df3 = movies.merge(trailerData, left_on='name', right_on='Title')

In [760]:
df3.head()

,Har_mean,Oscar_noms,Standard_mean,budget,company,country,director,genre,gross,movie_name,...,weighted_mean,writer,year,Title,Published,Views,Likes,Dislikes,Comments,trailerCount
0,14.727253,NaN,1.018941e+05,0.0,Fons Rademakers Produktie,Netherlands,Fons Rademakers,Drama,203781.0,NaN,...,14.727253,Gerard Soeteman,1986,The Assault,2012,2025726,1916,940,1064,1
1,674.607796,NaN,5.323613e+06,18000000.0,Orion Pictures,USA,Andrew Davis,Action,10647219.0,NaN,...,674.607796,John Bishop,1989,The Package,2012,720285,524,113,121,1
2,473.025655,NaN,4.507585e+06,0.0,Morgan Creek Productions,USA,Jack Sholder,Action,9015164.0,NaN,...,473.025655,David Rich,1989,Renegades,2016,1503614,7246,1105,1000,1
3,4017.756600,NaN,3.074500e+07,26000000.0,Columbia Pictures Corporation,USA,Joel Schumacher,Drama,61490000.0,NaN,...,4017.756600,Peter Filardi,1990,Flatliners,2017,2431817,15173,1414,1837,1
4,17237.567902,NaN,1.024217e+08,102000000.0,Carolco Pictures,USA,James Cameron,Action,204843350.0,NaN,...,17237.567902,James Cameron,1991,Terminator 2: Judgment Day,2017,348717,5832,335,866,2

In [761]:
df3.drop_duplicates(subset='name', keep='first', inplace=True)

In [762]:
df3.groupby('Published').size()

Published
2011     34
2012    128
2013    145
2014    156
2015    159
2016    151
2017     20
dtype: int64

In [763]:
df3.head()

,Har_mean,Oscar_noms,Standard_mean,budget,company,country,director,genre,gross,movie_name,...,weighted_mean,writer,year,Title,Published,Views,Likes,Dislikes,Comments,trailerCount
0,14.727253,NaN,1.018941e+05,0.0,Fons Rademakers Produktie,Netherlands,Fons Rademakers,Drama,203781.0,NaN,...,14.727253,Gerard Soeteman,1986,The Assault,2012,2025726,1916,940,1064,1
1,674.607796,NaN,5.323613e+06,18000000.0,Orion Pictures,USA,Andrew Davis,Action,10647219.0,NaN,...,674.607796,John Bishop,1989,The Package,2012,720285,524,113,121,1
2,473.025655,NaN,4.507585e+06,0.0,Morgan Creek Productions,USA,Jack Sholder,Action,9015164.0,NaN,...,473.025655,David Rich,1989,Renegades,2016,1503614,7246,1105,1000,1
3,4017.756600,NaN,3.074500e+07,26000000.0,Columbia Pictures Corporation,USA,Joel Schumacher,Drama,61490000.0,NaN,...,4017.756600,Peter Filardi,1990,Flatliners,2017,2431817,15173,1414,1837,1
4,17237.567902,NaN,1.024217e+08,102000000.0,Carolco Pictures,USA,James Cameron,Action,204843350.0,NaN,...,17237.567902,James Cameron,1991,Terminator 2: Judgment Day,2017,348717,5832,335,866,2

In [764]:
df3.groupby('year').size()

year
1986      1
1988      1
1989      2
1990      1
1991      6
1993      3
1994      1
1995      3
1996      4
1997      2
1998      4
1999      4
2001      2
2002      1
2003      2
2007      1
2009      1
2010      3
2011     37
2012    110
2013    139
2014    144
2015    156
2016    165
dtype: int64

In [765]:
df3.shape

(793, 27)

In [766]:
df3.Published = df3.Published.astype(np.int64)

In [767]:
df3.shape

(793, 27)

In [768]:
df3 = df3[(df3['year'] >= df3['Published'])]

In [769]:
df3.shape

(658, 27)

In [770]:
df3.head()

,Har_mean,Oscar_noms,Standard_mean,budget,company,country,director,genre,gross,movie_name,...,weighted_mean,writer,year,Title,Published,Views,Likes,Dislikes,Comments,trailerCount
55,2707.386405,NaN,17530348.40,15000000.0,FilmDistrict,USA,Nicolas Winding Refn,Crime,35060689.0,NaN,...,2707.386405,Hossein Amini,2011,Drive,2011,4401242,10399,528,1629,1
57,13299.436319,NaN,88380096.30,93000000.0,Twentieth Century Fox Film Corporation,USA,Rupert Wyatt,Action,176760185.0,NaN,...,13299.436319,Rick Jaffa,2011,Rise of the Planet of the Apes,2011,266799,367,13,178,1
58,2488.707901,NaN,18760050.85,40000000.0,Regency Enterprises,USA,Andrew Niccol,Action,37520095.0,NaN,...,2488.707901,Andrew Niccol,2011,In Time,2011,136463,495,18,49,1
59,285.141669,NaN,2000155.60,6500000.0,See-Saw Films,UK,Steve McQueen,Drama,4000304.0,NaN,...,285.141669,Steve McQueen,2011,Shame,2011,268792,496,31,65,1
61,280.599454,NaN,2084075.40,0.0,No Trace Camping,USA,Michael Dowse,Comedy,4168144.0,NaN,...,280.599454,Jay Baruchel,2011,Goon,2011,196753,528,37,85,1

In [771]:
df3.shape

(658, 27)

In [772]:
 df3 = df3.drop(['Oscar_noms','company','country','budget','name','movie_name','director','star','writer','rating','released','runtime'], axis=1)

In [773]:
df3.shape

(658, 15)

In [774]:
df3.head()

,Har_mean,Standard_mean,genre,gross,score,votes,weighted_mean,year,Title,Published,Views,Likes,Dislikes,Comments,trailerCount
55,2707.386405,17530348.40,Crime,35060689.0,7.8,472901,2707.386405,2011,Drive,2011,4401242,10399,528,1629,1
57,13299.436319,88380096.30,Action,176760185.0,7.6,439105,13299.436319,2011,Rise of the Planet of the Apes,2011,266799,367,13,178,1
58,2488.707901,18760050.85,Action,37520095.0,6.7,324606,2488.707901,2011,In Time,2011,136463,495,18,49,1
59,285.141669,2000155.60,Drama,4000304.0,7.2,158515,285.141669,2011,Shame,2011,268792,496,31,65,1
61,280.599454,2084075.40,Comedy,4168144.0,6.8,75386,280.599454,2011,Goon,2011,196753,528,37,85,1

In [775]:
df3.Views = df3.Views.astype(np.int64)
df3.Likes = df3.Likes.astype(np.int64)
df3.Dislikes = df3.Dislikes.astype(np.int64)
df3.Comments = df3.Comments.astype(np.int64)

In [776]:
df3['likes/dislikes'] = df3.Likes/df3.Dislikes

In [779]:
df3.loc[df3['weighted_mean'].idxmax()]

Har_mean                               75110.9
Standard_mean                      4.68331e+08
genre                                   Action
gross                              9.36662e+08
score                                      8.1
votes                                   687192
weighted_mean                          75110.9
year                                      2015
Title             Star Wars: The Force Awakens
Published                                 2015
Views                                  3485365
Likes                                    20741
Dislikes                                   713
Comments                                  4075
trailerCount                                 4
likes/dislikes                         29.0898
Name: 761, dtype: object

In [791]:
df3.head()

,Har_mean,Standard_mean,genre,gross,score,votes,weighted_mean,year,Title,Published,Views,Likes,Dislikes,Comments,trailerCount,likes/dislikes
55,2707.386405,17530348.40,Crime,35060689.0,7.8,472901,2707.386405,2011,Drive,2011,4401242,10399,528,1629,1,19.695076
57,13299.436319,88380096.30,Action,176760185.0,7.6,439105,13299.436319,2011,Rise of the Planet of the Apes,2011,266799,367,13,178,1,28.230769
58,2488.707901,18760050.85,Action,37520095.0,6.7,324606,2488.707901,2011,In Time,2011,136463,495,18,49,1,27.500000
59,285.141669,2000155.60,Drama,4000304.0,7.2,158515,285.141669,2011,Shame,2011,268792,496,31,65,1,16.000000
61,280.599454,2084075.40,Comedy,4168144.0,6.8,75386,280.599454,2011,Goon,2011,196753,528,37,85,1,14.270270

In [782]:
df3.to_pickle("df3.pkl")

In [789]:
df3 = pd.read_pickle("df3.pkl")

In [790]:
#trailerData['totalViews'] = trailerData.groupby('Title')['Views'].transform('sum')