In [1]:
import os.path
import pandas as pd

In [2]:
if  not os.path.exists("movies.csv"):
    print("Missing dataset file")

In [3]:
movies = pd.read_csv('movies.csv',  encoding='latin-1')

In [4]:
wins = pd.read_pickle('wins.pkl')
noms = pd.read_pickle('noms.pkl')

In [5]:
movies.head(5)

,budget,company,country,director,genre,gross,name,rating,released,runtime,score,star,votes,writer,year
0,8000000.0,Columbia Pictures Corporation,USA,Rob Reiner,Adventure,52287414.0,Stand by Me,R,1986-08-22,89,8.1,Wil Wheaton,299174,Stephen King,1986
1,6000000.0,Paramount Pictures,USA,John Hughes,Comedy,70136369.0,Ferris Bueller's Day Off,PG-13,1986-06-11,103,7.8,Matthew Broderick,264740,John Hughes,1986
2,15000000.0,Paramount Pictures,USA,Tony Scott,Action,179800601.0,Top Gun,PG,1986-05-16,110,6.9,Tom Cruise,236909,Jim Cash,1986
3,18500000.0,Twentieth Century Fox Film Corporation,USA,James Cameron,Action,85160248.0,Aliens,R,1986-07-18,137,8.4,Sigourney Weaver,540152,James Cameron,1986
4,9000000.0,Walt Disney Pictures,USA,Randal Kleiser,Adventure,18564613.0,Flight of the Navigator,PG,1986-08-01,90,6.9,Joey Cramer,36636,Mark H. Baker,1986

In [6]:
movies.shape

(6820, 15)

In [7]:
movies.isnull().sum()

budget      0
company     0
country     0
director    0
genre       0
gross       0
name        0
rating      0
released    0
runtime     0
score       0
star        0
votes       0
writer      0
year        0
dtype: int64

In [8]:
(movies.score == 0).value_counts()

False    6820
Name: score, dtype: int64

In [33]:
(movies.gross == 0).value_counts()

False    6820
Name: gross, dtype: int64

In [9]:
wins = movies.merge(wins, left_on='name', right_on='movie_name')

In [10]:
noms = movies.merge(noms, left_on='name', right_on='movie_name')

In [11]:
noms.shape

(353, 17)

In [12]:
noms.head()

,budget,company,country,director,genre,gross,name,rating,released,runtime,score,star,votes,writer,year,Oscar_noms,movie_name
0,18500000.0,Twentieth Century Fox Film Corporation,USA,James Cameron,Action,85160248.0,Aliens,R,1986-07-18,137,8.4,Sigourney Weaver,540152,James Cameron,1986,1,Aliens
1,6000000.0,Hemdale,UK,Oliver Stone,Drama,138530565.0,Platoon,R,1987-02-06,120,8.1,Charlie Sheen,317585,Oliver Stone,1986,2,Platoon
2,6000000.0,De Laurentiis Entertainment Group (DEG),USA,David Lynch,Drama,8551228.0,Blue Velvet,R,1986-10-23,120,7.8,Isabella Rossellini,146768,David Lynch,1986,1,Blue Velvet
3,24500000.0,Warner Bros.,UK,Roland Joffé,Adventure,17218023.0,The Mission,PG,1986-10-31,125,7.5,Robert De Niro,47497,Robert Bolt,1986,1,The Mission
4,13800000.0,Touchstone Pictures,USA,Martin Scorsese,Drama,52293982.0,The Color of Money,R,1986-10-17,119,7.0,Paul Newman,62495,Walter Tevis,1986,1,The Color of Money

In [13]:
wins.shape

(107, 17)

In [14]:
wins.head()

,budget,company,country,director,genre,gross,name,rating,released,runtime,score,star,votes,writer,year,Oscar_wins,movie_name
0,6000000.0,Hemdale,UK,Oliver Stone,Drama,138530565.0,Platoon,R,1987-02-06,120,8.1,Charlie Sheen,317585,Oliver Stone,1986,1,Platoon
1,13800000.0,Touchstone Pictures,USA,Martin Scorsese,Drama,52293982.0,The Color of Money,R,1986-10-17,119,7.0,Paul Newman,62495,Walter Tevis,1986,1,The Color of Money
2,6400000.0,Orion Pictures,USA,Woody Allen,Comedy,40084041.0,Hannah and Her Sisters,PG-13,1986-03-14,107,8.0,Mia Farrow,56988,Woody Allen,1986,2,Hannah and Her Sisters
3,0.0,Paramount Pictures,USA,Randa Haines,Drama,31853080.0,Children of a Lesser God,R,1986-10-31,119,7.2,William Hurt,12538,Mark Medoff,1986,1,Children of a Lesser God
4,25000000.0,Paramount Pictures,USA,Brian De Palma,Crime,76270454.0,The Untouchables,R,1987-06-03,119,7.9,Kevin Costner,234254,Oscar Fraley,1987,1,The Untouchables

In [15]:
noms.groupby('Oscar_noms').size()

Oscar_noms
1    236
2     88
3     22
4      7
dtype: int64

In [16]:
wins.groupby('Oscar_wins').size()

Oscar_wins
1    86
2    18
3     3
dtype: int64

In [17]:
oscar_wins = movies.append(wins)

In [18]:
oscar_wins.shape

(6927, 17)

In [19]:
oscar_wins.drop_duplicates(subset='name', keep='last', inplace=True)

In [20]:
oscar_wins.shape

(6731, 17)

In [21]:
oscar_noms = movies.append(noms)

In [22]:
oscar_noms.drop_duplicates(subset='name', keep='last', inplace=True)

In [23]:
oscar_noms.shape

(6731, 17)

In [24]:
oscarMovies = pd.merge(oscar_wins,oscar_noms[['name','Oscar_noms']],on='name', how='left')

In [25]:
oscarMovies.head()

,Oscar_wins,budget,company,country,director,genre,gross,movie_name,name,rating,released,runtime,score,star,votes,writer,year,Oscar_noms
0,NaN,8000000.0,Columbia Pictures Corporation,USA,Rob Reiner,Adventure,52287414.0,NaN,Stand by Me,R,1986-08-22,89,8.1,Wil Wheaton,299174,Stephen King,1986,NaN
1,NaN,6000000.0,Paramount Pictures,USA,John Hughes,Comedy,70136369.0,NaN,Ferris Bueller's Day Off,PG-13,1986-06-11,103,7.8,Matthew Broderick,264740,John Hughes,1986,NaN
2,NaN,15000000.0,Paramount Pictures,USA,Tony Scott,Action,179800601.0,NaN,Top Gun,PG,1986-05-16,110,6.9,Tom Cruise,236909,Jim Cash,1986,NaN
3,NaN,18500000.0,Twentieth Century Fox Film Corporation,USA,James Cameron,Action,85160248.0,NaN,Aliens,R,1986-07-18,137,8.4,Sigourney Weaver,540152,James Cameron,1986,1.0
4,NaN,9000000.0,Walt Disney Pictures,USA,Randal Kleiser,Adventure,18564613.0,NaN,Flight of the Navigator,PG,1986-08-01,90,6.9,Joey Cramer,36636,Mark H. Baker,1986,NaN

In [26]:
oscarMovies['Oscar_noms']=oscarMovies['Oscar_noms'].fillna('0')

In [27]:
oscarMovies['Oscar_wins']=oscarMovies['Oscar_wins'].fillna('0')

In [28]:
oscarMovies.head()

,Oscar_wins,budget,company,country,director,genre,gross,movie_name,name,rating,released,runtime,score,star,votes,writer,year,Oscar_noms
0,0,8000000.0,Columbia Pictures Corporation,USA,Rob Reiner,Adventure,52287414.0,NaN,Stand by Me,R,1986-08-22,89,8.1,Wil Wheaton,299174,Stephen King,1986,0
1,0,6000000.0,Paramount Pictures,USA,John Hughes,Comedy,70136369.0,NaN,Ferris Bueller's Day Off,PG-13,1986-06-11,103,7.8,Matthew Broderick,264740,John Hughes,1986,0
2,0,15000000.0,Paramount Pictures,USA,Tony Scott,Action,179800601.0,NaN,Top Gun,PG,1986-05-16,110,6.9,Tom Cruise,236909,Jim Cash,1986,0
3,0,18500000.0,Twentieth Century Fox Film Corporation,USA,James Cameron,Action,85160248.0,NaN,Aliens,R,1986-07-18,137,8.4,Sigourney Weaver,540152,James Cameron,1986,1
4,0,9000000.0,Walt Disney Pictures,USA,Randal Kleiser,Adventure,18564613.0,NaN,Flight of the Navigator,PG,1986-08-01,90,6.9,Joey Cramer,36636,Mark H. Baker,1986,0

In [29]:
 oscarMovies = oscarMovies.drop(['movie_name','company','released','country','rating','genre','runtime','votes','writer'], axis=1)

In [30]:
oscarMovies.head()

,Oscar_wins,budget,director,gross,name,score,star,year,Oscar_noms
0,0,8000000.0,Rob Reiner,52287414.0,Stand by Me,8.1,Wil Wheaton,1986,0
1,0,6000000.0,John Hughes,70136369.0,Ferris Bueller's Day Off,7.8,Matthew Broderick,1986,0
2,0,15000000.0,Tony Scott,179800601.0,Top Gun,6.9,Tom Cruise,1986,0
3,0,18500000.0,James Cameron,85160248.0,Aliens,8.4,Sigourney Weaver,1986,1
4,0,9000000.0,Randal Kleiser,18564613.0,Flight of the Navigator,6.9,Joey Cramer,1986,0

In [31]:
oscarMovies.shape

(6731, 9)

In [32]:
oscarMovies.to_pickle('oscarMovies.pkl')