# 300_Oscar_Prep


## Purpose
The purpose of this data set is to load in our data and prepare it for analysis.

## Datasets

 - input: academy_awards.csv
 - output: wins.pkl, noms.pkl

# Loading the data

In [1]:
import os.path
import pandas as pd

In [2]:
awards = pd.read_csv('../../data/raw/academy_awards.csv',  encoding='latin-1')

In [3]:
awards.head()

,Year,Category,Nominee,Additional Info,Won?,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,2010 (83rd),Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},NO,NaN,NaN,NaN,NaN,NaN,NaN
1,2010 (83rd),Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},NO,NaN,NaN,NaN,NaN,NaN,NaN
2,2010 (83rd),Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},NO,NaN,NaN,NaN,NaN,NaN,NaN
3,2010 (83rd),Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},YES,NaN,NaN,NaN,NaN,NaN,NaN
4,2010 (83rd),Actor -- Leading Role,James Franco,127 Hours {'Aron Ralston'},NO,NaN,NaN,NaN,NaN,NaN,NaN

Looking at the initial data that we have we can see that we have, what appears to be, 6 empty columns in the dataset. We'll take a closer look at these columns.

In [4]:
awards['Unnamed: 5'].notnull().value_counts()

False    10126
True        11
Name: Unnamed: 5, dtype: int64

Right away we see that there are only 11 non-empty rows in the first of these unnamed columns. We will take a look to see what they are.

In [5]:
df = awards[pd.notnull(awards['Unnamed: 5'])]

In [6]:
df

,Year,Category,Nominee,Additional Info,Won?,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
132,2010 (83rd),Scientific and Technical (Technical Achievemen...,To ERIC TABELLION and ARNAULD LAMORLETTE for t...,was shared with the industry in their technic...,NO,*,NaN,NaN,NaN,NaN,NaN
510,2007 (80th),Scientific and Technical (Technical Achievemen...,To CHRISTIEN TINSLEY for the creation of the t...,bruises and birthmarks,as well as 3D prosthetic appliances ranging i...,resilience,flexibility and water resistance,while requiring no dangerous solvents. [Syste...,NaN,*,NaN
1269,2001 (74th),Scientific and Technical (Scientific and Engin...,"To JOHN M. EARGLE, D.B. DON"" KEELE and MARK E....",design and engineering of the modern constant...,direct radiator style motion picture loudspea...,"D.B. ""Don"" Keele and Mark E. Engebretson has ...",direct radiator bass style cinema loudspeaker...,NaN,*,NaN,NaN
1286,2001 (74th),Scientific and Technical (Technical Achievemen...,To DR. LANCE J. WILLIAMS for his pioneering in...,"Pyramidal Parametrics"" and ""View Interpolatio...",NO,*,NaN,NaN,NaN,NaN,NaN
1287,2001 (74th),Scientific and Technical (Technical Achievemen...,To DR. UWE SASSENBERG and ROLF SCHNEIDER for t...,an advanced and robust camera and object matc...,which significantly reduces the need for pain...,error-prone measurements on sets. [Digital Im...,NaN,*,NaN,NaN,NaN
2100,1995 (68th),Scientific and Technical (Technical Achievemen...,To DAVID PRINGLE and YAN ZHONG FANG for the de...,"a flexible, high-performance electronic light...",NO,*,NaN,NaN,NaN,NaN,NaN
3458,1984 (57th),Scientific and Technical (Technical Achievemen...,"To DONALD TRUMBULL, JONATHAN ERLAND, STEPHEN F...",blue-flux projector for traveling matte compo...,NO,*,NaN,NaN,NaN,NaN,NaN
7832,1948 (21st),Honorary Award,To Jean Hersholt - in recognition of his servi...,"June 26, 1949, at the Academy building.]",NO,*,NaN,NaN,NaN,NaN,NaN
7834,1948 (21st),Scientific and Technical (Scientific and Engin...,"To VICTOR CACCIALANZA, MAURICE AYERS and the P...",a new lightweight plaster process for set con...,NO,*,NaN,NaN,NaN,NaN,NaN
8223,1945 (18th),Honorary Award,"To The House I Live In, tolerance short subjec...","music by Earl Robinson, lyrics by Lewis Allan...",NO,*,NaN,NaN,NaN,NaN,NaN
9550,1937 (10th),Honorary Award,"To Mack Sennett, for his lasting contribution ...",the basic principles of which are as importan...,the Academy presents a Special Award to that ...,discoverer of stars,sympathetic,kindly,"understanding comedy genius - Mack Sennett.""""",NaN,*

Once we take a look at the contents of these columns we can see that they contain some extra information about certain awards. However, as we are only going to look at Nominations in the Acting and Directing column we can ignore this issue will won't be using any off these offending rows.

We then can simply drop these extra columns.

In [7]:
awards.drop(['Unnamed: 5', 'Unnamed: 6','Unnamed: 7','Unnamed: 8','Unnamed: 9','Unnamed: 10',], axis=1, inplace=True)

We then rename some of our columns to make them more understandable.

In [8]:
awards.rename(columns={'Won?': 'Winner','Additional Info': 'Movie'}, inplace=True)

In [9]:
awards.head()

,Year,Category,Nominee,Movie,Winner
0,2010 (83rd),Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},NO
1,2010 (83rd),Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},NO
2,2010 (83rd),Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},NO
3,2010 (83rd),Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},YES
4,2010 (83rd),Actor -- Leading Role,James Franco,127 Hours {'Aron Ralston'},NO

Our next step is to split our dataset into two datasets. We create a dataset for Oscar winners and one for the Oscar nominations. We'll preform all the subsequent operations on both of these datasets.

In [10]:
oscar_winners =  awards[awards.Winner == 'YES']
oscar_nominees =  awards[awards.Winner == 'NO']

In [11]:
oscar_winners.head()

,Year,Category,Nominee,Movie,Winner
3,2010 (83rd),Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},YES
5,2010 (83rd),Actor -- Supporting Role,Christian Bale,The Fighter {'Dicky Eklund'},YES
13,2010 (83rd),Actress -- Leading Role,Natalie Portman,Black Swan {'Nina Sayers/The Swan Queen'},YES
17,2010 (83rd),Actress -- Supporting Role,Melissa Leo,The Fighter {'Alice Ward'},YES
22,2010 (83rd),Animated Feature Film,Toy Story 3,Lee Unkrich,YES

The next step is to have our datasets only containing winners and nominees for the acting and directing categories. We do this by creating individual data frames for each of our target categories (one for Oscar winners, one for Oscar nominations).

In [12]:
Directing =  oscar_winners[oscar_winners.Category == 'Directing']
leadActor =  oscar_winners[oscar_winners.Category == 'Actor -- Leading Role']
leadActress =  oscar_winners[oscar_winners.Category == 'Actress -- Leading Role']
supportActor =  oscar_winners[oscar_winners.Category == 'Actor -- Supporting Role']
supportActress =  oscar_winners[oscar_winners.Category == 'Actress -- Supporting Role']

DirectingNom =  oscar_nominees[oscar_nominees.Category == 'Directing']
leadActorNom =  oscar_nominees[oscar_nominees.Category == 'Actor -- Leading Role']
leadActressNom =  oscar_nominees[oscar_nominees.Category == 'Actress -- Leading Role']
supportActorNom =  oscar_nominees[oscar_nominees.Category == 'Actor -- Supporting Role']
supportActressNom =  oscar_nominees[oscar_nominees.Category == 'Actress -- Supporting Role']

Now that we have gathered the target categories that we're after we can join them together to create our datasets of winners and of nominees.

In [13]:
oscar_win = pd.concat([Directing,leadActor,leadActress,supportActor,supportActress],axis=0,ignore_index=True)

oscar_nom = pd.concat([DirectingNom,leadActorNom,leadActressNom,supportActorNom,supportActressNom],axis=0,ignore_index=True)

In [14]:
oscar_nom.shape

(1575, 5)

In [15]:
oscar_win.shape

(404, 5)

We can see with a quick look that we have a lot more nominations than wins, which makes sense.

In [16]:
oscar_win.groupby('Category').head(2)#takes the top 2 results from each category

,Year,Category,Nominee,Movie,Winner
0,2010 (83rd),Directing,The King's Speech,Tom Hooper,YES
1,2009 (82nd),Directing,The Hurt Locker,Kathryn Bigelow,YES
85,2010 (83rd),Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},YES
86,2009 (82nd),Actor -- Leading Role,Jeff Bridges,Crazy Heart {'Bad Blake'},YES
170,2010 (83rd),Actress -- Leading Role,Natalie Portman,Black Swan {'Nina Sayers/The Swan Queen'},YES
171,2009 (82nd),Actress -- Leading Role,Sandra Bullock,The Blind Side {'Leigh Anne Tuohy'},YES
254,2010 (83rd),Actor -- Supporting Role,Christian Bale,The Fighter {'Dicky Eklund'},YES
255,2009 (82nd),Actor -- Supporting Role,Christoph Waltz,Inglourious Basterds {'Col. Hans Landa'},YES
329,2010 (83rd),Actress -- Supporting Role,Melissa Leo,The Fighter {'Alice Ward'},YES
330,2009 (82nd),Actress -- Supporting Role,Mo'Nique,Precious: Based on the Novel 'Push' by Sapphir...,YES

By examining our dataset, we can see that under the directing category we have the directors name in our movie column and our movie in the Nominee column. To fix we can swap the values in the 'Nominee' column and the 'Movie' when the category is directing.

In [17]:
Director_idx = (oscar_win['Category'] == 'Directing')##finding all rows under the directing category.
oscar_win.loc[Director_idx,['Nominee','Movie']] = oscar_win.loc[Director_idx,['Movie','Nominee']].values#this esencially swaps the column values for nominees and movies 

DirectorNom_idx = (oscar_nom['Category'] == 'Directing')
oscar_nom.loc[DirectorNom_idx,['Nominee','Movie']] = oscar_nom.loc[DirectorNom_idx,['Movie','Nominee']].values

In [18]:
oscar_nom.groupby('Category').head(3)

,Year,Category,Nominee,Movie,Winner
0,2010 (83rd),Directing,Darren Aronofsky,Black Swan,NO
1,2010 (83rd),Directing,David O. Russell,The Fighter,NO
2,2010 (83rd),Directing,David Fincher,The Social Network,NO
325,2010 (83rd),Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},NO
326,2010 (83rd),Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},NO
327,2010 (83rd),Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},NO
648,2010 (83rd),Actress -- Leading Role,Annette Bening,The Kids Are All Right {'Nic'},NO
649,2010 (83rd),Actress -- Leading Role,Nicole Kidman,Rabbit Hole {'Becca'},NO
650,2010 (83rd),Actress -- Leading Role,Jennifer Lawrence,Winter's Bone {'Ree'},NO
975,2010 (83rd),Actor -- Supporting Role,John Hawkes,Winter's Bone {'Teardrop'},NO
976,2010 (83rd),Actor -- Supporting Role,Jeremy Renner,The Town {'James Coughlin'},NO
977,2010 (83rd),Actor -- Supporting Role,Mark Ruffalo,The Kids Are All Right {'Paul'},NO
1275,2010 (83rd),Actress -- Supporting Role,Amy Adams,The Fighter {'Charlene Fleming'},NO
1276,2010 (83rd),Actress -- Supporting Role,Helena Bonham Carter,The King's Speech {'Queen Elizabeth'},NO
1277,2010 (83rd),Actress -- Supporting Role,Hailee Steinfeld,True Grit {'Mattie Ross'},NO

Now we have all our movies in a single column which is exactly what we need. We then had to consider the extra data that was found after the movie title in the movie column. This was information on the main character in the movie, but we didn't require this information so we had to remove it.

We also noticed that in our Year column we also had information about what number award ceremony was taking place, this too was extra information, that we needed to remove.

In [19]:
oscar_win = oscar_win.replace(dict(Movie={'\ {.*\}': ''}), regex=True)#takes all characters after and including the '{' and replaces it with nothing. 
oscar_win = oscar_win.replace(dict(Year={'\(.*\)': ''}), regex=True)#takes all characters after and including the '(' and replaces it with nothing.

oscar_nom = oscar_nom.replace(dict(Movie={'\ {.*\}': ''}), regex=True)#takes all characters after and including the '{' and replaces it with nothing.
oscar_nom = oscar_nom.replace(dict(Year={'\(.*\)': ''}), regex=True)#takes all characters after and including the '(' and replaces it with nothing.

Now we check to see if we have any missing data that we may have missed during our preparation of the data.

In [20]:
oscar_nom.isnull().any()

Year        False
Category    False
Nominee     False
Movie       False
Winner      False
dtype: bool

In [21]:
oscar_win.isnull().any()

Year        False
Category    False
Nominee      True
Movie        True
Winner      False
dtype: bool

We find that we have some empty values in our oscar_win data set so we need to find out what they are and remove them. We do this by adding any rows with null values into another dataset.

In [22]:
nans = oscar_win[oscar_win.isnull().any(axis=1)]

In [23]:
nans

,Year,Category,Nominee,Movie,Winner
84,1927/28,Directing,NaN,"To Charles Chaplin, for acting, writing, direc...",YES
169,1927/28,Actor -- Leading Role,"To Charles Chaplin, for acting, writing, direc...",NaN,YES

We now see the cause of the issue, we have two rows with empty values and so we have to remove them. We know the index of these rows now to so we can drop them based on that.

In [24]:
oscar_win = oscar_win.drop([oscar_win.index[84],oscar_win.index[169]])#drops rows based on the index

In [25]:
oscar_win.shape

(402, 5)

In [26]:
oscar_nom.shape

(1575, 5)

Finally, we want to create a count of both the wins and nominations each movie recieved. We can do this by counting the number of times the name of a movie occurs in each of our dataset as it must represent a win or a nomination in their respective datasets.

In [27]:
noms = pd.DataFrame({'Oscar_noms':oscar_nom.groupby('Movie').size()})#we group by the title and get the size of each grouping giving us a count of its occurance.
wins = pd.DataFrame({'Oscar_wins':oscar_win.groupby('Movie').size()})#we group by the title and get the size of each grouping giving us a count of its occurance.

As we group by name the name of the movie becomes the index, however we will need a movie name column in order to merge our datasets later so we set a new column to be the movie name.

In [28]:
wins['movie_name'] = wins.index
noms['movie_name'] = noms.index

In [29]:
noms.shape

(1027, 2)

In [30]:
wins.shape

(317, 2)

The very last thing we do is ensure that there are no trailing white spaces left over because of the operations we performed in our preparation. Then our datasets a prepared.

In [31]:
wins['movie_name'] = wins['movie_name'].map(lambda x: x.strip())#removes extra white spaces

In [32]:
noms['movie_name'] = noms['movie_name'].map(lambda x: x.strip())

In [33]:
#stores our datasets to pickle files, so we can use them later.
wins.to_pickle('../../data/processed/wins.pkl')
noms.to_pickle('../../data/processed/noms.pkl')